<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" href="http://localhost:8888/hexa-musee/views/images/logohm.png"/>
  <link rel="stylesheet" href="http://localhost:8888/hexa-musee/foundation/css/foundation.min.css"/>
  <link rel="stylesheet" href="http://localhost:8888/hexa-musee/views/css/animate.css">
  <link rel="stylesheet" href="http://localhost:8888/hexa-musee/views/css/museeStyle.css"/>
  <title>{% block title %}{% endblock %} - HexagoMuse</title>
</head>

{% block body %}
<body>


  {% block header %}
  <header class="grid-container full">
    <nav class="top-bar topbar-responsive grid-container" id="navb">
      <div class="top-bar-title">
        <a class="topbar-responsive-logo" href="http://localhost:8888/hexa-musee/" alt="Accueil site">
          <svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="100px" height="100px" viewBox="0 0 841.89 595.28" enable-background="new 0 0 841.89 595.28" xml:space="preserve" fill="#fff">
          <g>
            <g>
              <path d="M276.814,56.205v499.74h148.65V56.205H276.814z M122.285,443.235c-4.32,0.03-9.84,0.54-16.55,1.52l-7.48,0.931
              c11.29,2.439,19.83,4.1,25.59,5c0.48-0.88,0.84-3.46,1.1-7.73C124.225,443.136,123.345,443.226,122.285,443.235z M122.285,443.235
              c-4.32,0.03-9.84,0.54-16.55,1.52l-7.48,0.931c11.29,2.439,19.83,4.1,25.59,5c0.48-0.88,0.84-3.46,1.1-7.73
              C124.225,443.136,123.345,443.226,122.285,443.235z M122.285,443.235c-4.32,0.03-9.84,0.54-16.55,1.52l-7.48,0.931
              c11.29,2.439,19.83,4.1,25.59,5c0.48-0.88,0.84-3.46,1.1-7.73C124.225,443.136,123.345,443.226,122.285,443.235z M122.285,443.235
              c-4.32,0.03-9.84,0.54-16.55,1.52l-7.48,0.931c11.29,2.439,19.83,4.1,25.59,5c0.48-0.88,0.84-3.46,1.1-7.73
              C124.225,443.136,123.345,443.226,122.285,443.235z M210.185,234.865V56.205H61.545v499.74h148.64v-189.28h41.37v-131.8H210.185z
              M123.475,438.315c0.29-0.01,1.03-0.16,2.23-0.46c1.1-0.3,1.82-0.45,2.16-0.45c0.33,0,1.77-0.31,4.31-0.91
              c2.3-0.54,3.79-0.81,4.46-0.819h0.07c1.06-0.011,1.73,0.46,2.03,1.39c0,1.35-0.16,2.34-0.49,2.99
              c-0.33,0.649-0.95,0.97-1.86,0.979c-1.44,0.01-3.89,0.32-7.34,0.93l-1.51,0.36l-1.02,8.69c1.1,0.35,3.34,0.83,6.7,1.449
              c2.36,0.341,3.92,0.881,4.69,1.641c0.44,0.399,0.66,0.99,0.66,1.75c0.01,0.7-0.17,1.35-0.52,1.93c-0.36,0.59-0.8,0.891-1.33,0.891
              l-0.36-0.171l-0.29-0.09c-12.36-3.779-24.55-6.62-36.56-8.529c-0.19,0-0.52-0.021-0.97-0.08c-0.46-0.061-1.12-0.11-1.98-0.16
              c-1.78-0.17-3.2-0.351-4.26-0.55c-1.05-0.19-1.85-0.521-2.38-0.99l-0.02-2.98c-0.01-0.819,0.15-1.52,0.45-2.109
              c0.31-0.59,0.75-0.891,1.33-0.891c3.65-0.02,9.07-0.68,16.26-1.949C115.314,438.955,120.495,438.335,123.475,438.315z
              M109.825,399.575c-0.01-0.76,0.19-1.439,0.6-2.02c0.4-0.591,0.89-0.891,1.47-0.891c0.57-0.01,1.08,0.69,1.52,2.09
              c0.64,1.99,1.1,5.44,1.37,10.36c0.11,1.87,0.16,3.07,0.17,3.59c0,0.76-0.2,1.44-0.6,2.03c-0.4,0.58-0.9,0.88-1.47,0.88
              c-0.58,0.01-1.09-0.689-1.53-2.09c-0.63-1.99-1.09-5.44-1.36-10.35C109.885,401.306,109.825,400.105,109.825,399.575z
              M92.255,463.715c0.53,0.41,1.18,0.74,1.95,1c0.77,0.261,1.44,0.381,2.02,0.381c0.33,0.06,1.08,0.08,2.23,0.069h0.79
              c1.54,0.69,4.22,1.4,8.04,2.141c3.83,0.729,6.6,1.09,8.33,1.08c1.49-0.011,3.37-0.421,5.64-1.221c2.28-0.81,5.43-2.01,9.45-3.62
              c2.58-1.069,4.47-1.609,5.67-1.619c0.48,0,0.91,0.229,1.27,0.689c0.36,0.47,0.55,1.03,0.55,1.67c0.01,0.99-0.85,1.88-2.57,2.65
              c-1.44,0.77-3.26,1.43-5.46,1.97c-2.69,0.72-4.48,1.14-5.4,1.26l-1.65,0.45l5.34,0.76c2.64,0.33,4.85,0.78,6.63,1.36l0.79-0.01
              c1.78-0.011,2.67,0.75,2.68,2.27c0,0.7,0.01,1.05,0.01,1.05s-0.15,0.261-0.43,0.79c-0.28,0.53-0.69,0.801-1.22,0.801
              c-1.53,0.01-3.25-0.23-5.15-0.71c-1.9-0.48-4.17-1.19-6.82-2.11l-2.81-0.851c-2.7-0.81-5.03-1.199-7-1.189
              c-1.39,0.01-4.81,0.78-10.28,2.31c-5.46,1.53-8.57,2.62-9.33,3.271l-0.8,0.01c-0.42,0.58-1.02,0.88-1.79,0.89
              c-0.43,0-0.78-0.26-1.05-0.79c-0.27-0.52-0.4-1.14-0.41-1.84c0-0.699,0.4-1.29,1.21-1.76c1.34-0.89,3.81-1.78,7.4-2.689
              c1.63-0.48,3-0.811,4.1-0.99l2.66-0.63l-1.73-0.341l-1.44-0.26c-1.16-0.22-1.92-0.359-2.31-0.42c-1.3-0.22-2.55-0.33-3.75-0.32
              h-1.29l-1.08,0.011c-1.35,0.01-2.38-0.261-3.1-0.811c-0.73-0.55-1.26-1.59-1.61-3.109L92.255,463.715z M91.854,490.016
              c0.61-2.551,1.34-3.83,2.21-3.84c0.48,0,0.92,0.25,1.33,0.739c0.41,0.5,0.74,1.09,0.99,1.79c-0.71,2.471-1.17,4.69-1.4,6.681
              c0.72-0.061,1.76-0.101,3.1-0.11c1.92-0.01,3.65,0.01,5.18,0.06c2.31,0.16,4.04,0.23,5.19,0.23l1.15-0.28l-0.08-1.399
              c-0.05-0.471-0.08-1.051-0.09-1.75c-0.02-2.811,0.65-4.221,1.99-4.23c0.53,0,0.97,0.26,1.34,0.78c0.36,0.529,0.55,1.2,0.55,2.01
              c0.01,1.06-0.03,1.88-0.13,2.46l0.02,2.2c1.25-0.13,3.07-0.2,5.47-0.21c2.4-0.021,4.56,0,6.48,0.04
              c2.93,0.16,5.11,0.229,6.55,0.22c2.68-0.02,4.03-0.09,4.03-0.2l-0.09-2.899c-0.05-0.99-0.08-2.19-0.09-3.601
              c-0.02-2.22,0.55-3.34,1.7-3.35c0.67,0,1.19,0.359,1.56,1.09c0.36,0.73,0.55,1.62,0.56,2.68l0.05,7.46
              c0,0.761-0.21,1.45-0.64,2.061c-0.43,0.62-0.95,0.96-1.58,1.02l-1.87,0.021l-1.44,0.01c-0.43,0.06-0.93,0.09-1.51,0.09
              c-1.01,0.01-2.54,0.11-4.6,0.3l-4.61,0.21c-2.35,0.011-5.86-0.05-10.52-0.199c-4.17-0.2-7.68-0.301-10.51-0.28
              c-0.67,0.01-1.68,0.1-3.02,0.29c-1.39,0.18-2.4,0.28-3.02,0.28c-3.41,0.02-5.12-1.19-5.14-3.65
              C90.955,494.806,91.245,492.565,91.854,490.016z M137.965,270.775c0.01,0.76-0.2,1.45-0.63,2.07c-0.43,0.62-0.95,0.96-1.58,1.02
              l-1.87,0.01l-1.44,0.01c-0.43,0.06-0.93,0.1-1.51,0.1c-1.01,0.01-2.54,0.11-4.61,0.29l-4.6,0.21c-2.35,0.02-5.86-0.05-10.52-0.19
              c-4.17-0.2-7.68-0.3-10.51-0.28c-0.67,0-1.68,0.1-3.02,0.28c-1.39,0.19-2.4,0.28-3.03,0.29c-3.4,0.02-5.12-1.2-5.13-3.66
              c-0.02-1.93,0.28-4.17,0.89-6.72c0.61-2.55,1.34-3.82,2.2-3.83c0.48,0,0.93,0.24,1.34,0.74c0.41,0.49,0.74,1.09,0.99,1.79
              c-0.71,2.46-1.17,4.69-1.4,6.68c0.72-0.06,1.75-0.1,3.1-0.11c1.92-0.01,3.64,0.01,5.18,0.05c2.31,0.16,4.03,0.24,5.19,0.23
              l1.15-0.27l-0.08-1.4c-0.06-0.47-0.08-1.06-0.09-1.76c-0.02-2.81,0.65-4.22,1.99-4.22c0.53-0.01,0.97,0.25,1.34,0.78
              c0.36,0.52,0.54,1.19,0.55,2.01c0.01,1.06-0.04,1.88-0.13,2.46l0.02,2.19c1.24-0.12,3.07-0.19,5.47-0.21
              c2.4-0.01,4.56,0,6.48,0.05c2.93,0.15,5.11,0.23,6.55,0.22c2.69-0.02,4.03-0.09,4.03-0.21l-0.09-2.89c-0.05-1-0.09-2.2-0.1-3.6
              c-0.01-2.23,0.56-3.34,1.71-3.35c0.67,0,1.19,0.36,1.56,1.09c0.36,0.73,0.55,1.62,0.55,2.67L137.965,270.775z M90.235,239.275
              c0.61-2.55,1.34-3.83,2.21-3.83c0.48,0,0.92,0.24,1.33,0.74c0.41,0.49,0.74,1.09,0.99,1.79c-0.71,2.46-1.17,4.69-1.4,6.68
              c0.72-0.06,1.75-0.1,3.1-0.11c1.92-0.01,3.65,0.01,5.18,0.05c2.31,0.16,4.04,0.24,5.19,0.23l1.15-0.27l-0.08-1.4
              c-0.05-0.47-0.08-1.05-0.09-1.76c-0.02-2.81,0.65-4.22,1.99-4.22c0.53-0.01,0.97,0.25,1.34,0.78c0.36,0.52,0.55,1.19,0.55,2.01
              c0.01,1.06-0.03,1.88-0.13,2.46l0.02,2.2c1.25-0.13,3.07-0.2,5.47-0.22c2.4-0.01,4.56,0,6.48,0.05c2.93,0.15,5.11,0.23,6.55,0.22
              c2.69-0.02,4.03-0.09,4.03-0.21l-0.09-2.89c-0.05-1-0.08-2.2-0.09-3.6c-0.02-2.23,0.55-3.34,1.7-3.35c0.67,0,1.19,0.36,1.56,1.09
              c0.36,0.73,0.55,1.62,0.55,2.67l0.06,7.46c0,0.76-0.21,1.45-0.64,2.07c-0.43,0.62-0.95,0.96-1.58,1.02l-1.87,0.01l-1.44,0.01
              c-0.43,0.06-0.93,0.1-1.51,0.1c-1.01,0.01-2.54,0.11-4.61,0.29l-4.6,0.21c-2.35,0.02-5.86-0.05-10.52-0.19
              c-4.17-0.2-7.68-0.3-10.51-0.28c-0.67,0-1.68,0.1-3.02,0.28c-1.39,0.19-2.4,0.28-3.02,0.29c-3.41,0.02-5.12-1.2-5.14-3.65
              C89.334,244.065,89.625,241.825,90.235,239.275z M89.445,288.265c0.55-0.91,1.21-1.37,1.98-1.37c0.43,0,0.77,0.2,1.01,0.61
              c0.24,0.4,0.36,0.9,0.37,1.49c0,0.64-0.14,1.26-0.42,1.84c0.06,1.29,1,2.31,2.83,3.06c1.68,0.63,3.08,0.94,4.18,0.93
              c1.39-0.01,2.79-0.28,4.21-0.81c1.41-0.54,2.69-1.22,3.83-2.05l2.87-1.95l4.73-3.11c1.34-0.82,2.9-1.49,4.67-2
              c1.77-0.51,3.57-0.77,5.39-0.78c2.93-0.02,5.72,0.78,8.37,2.4c1.35,0.81,2.44,1.96,3.27,3.44c0.82,1.49,1.24,3.14,1.25,4.95h0.22
              c-0.14,1.06-0.44,1.95-0.92,2.69c-0.47,0.73-1.09,1.16-1.86,1.28l-1.23-0.96c-0.01-0.35,0.09-0.9,0.27-1.67
              c0.14-0.87,0.21-1.55,0.21-2.02c-0.01-1.05-0.4-2-1.17-2.84c-0.78-0.84-1.79-1.47-3.04-1.87c-2.31-0.74-4.38-1.11-6.2-1.1
              c-3.17,0.02-6.5,1.28-9.98,3.76l-1.37,0.97c-1.57,1.13-2.98,2.07-4.22,2.84c-1.25,0.77-2.59,1.42-4.02,1.96
              c-1.87,0.71-3.74,1.08-5.61,1.09c-2.11,0.011-4.33-0.56-6.64-1.709c-1.11-0.58-2.01-1.41-2.71-2.48
              c-0.71-1.08-1.06-2.29-1.07-3.64C88.635,290.166,88.905,289.175,89.445,288.265z M89.005,307.846c0.36-0.44,0.78-0.721,1.26-0.841
              c0.28-0.06,0.83-0.09,1.65-0.1c0.77,0,1.99,0.08,3.67,0.24c1.4,0.22,2.6,0.33,3.61,0.33c1.1-0.011,2.09,0.04,2.95,0.149l3.03,0.16
              l0.57-0.01c0.19-0.061,0.41-0.09,0.65-0.09c21.31-0.141,31.99,3.56,32.04,11.109c0.01,1.4-0.23,2.66-0.73,3.78
              c-0.49,1.12-1.22,2.03-2.18,2.73c-2,1.42-4.28,2.35-6.82,2.77c-2.2,0.43-4.84,0.65-7.91,0.67c-5.19,0.21-11.52,0.34-19.01,0.391
              l-5.54,0.13c-0.29,0.06-0.77,0.09-1.44,0.1c-1.82,0.12-2.93,0.19-3.31,0.19c-1.01-0.521-1.52-1.13-1.53-1.83
              c0-0.7,0.43-1.33,1.29-1.9c0.86-0.56,1.79-0.84,2.8-0.85l19.58-0.13c1.92-0.011,4.47-0.24,7.63-0.67
              c3.93-0.431,6.48-0.66,7.63-0.66c3.55-0.03,5.31-1.88,5.29-5.57c-0.03-4.21-12.96-6.23-38.78-6.06l-4.03,0.029h-0.65
              c-0.14,0.061-0.33,0.09-0.57,0.09c-0.58,0.011-1-0.149-1.27-0.47c-0.26-0.32-0.4-0.95-0.41-1.88
              C88.475,308.896,88.645,308.285,89.005,307.846z M77.125,259.255c-0.1-0.24-0.15-0.5-0.15-0.79c-0.01-0.71,0.28-1.35,0.85-1.94
              s1.17-0.89,1.79-0.89c0.58,0,0.96,0.2,1.16,0.61c1.36,2.09,3.4,6.35,6.13,12.77c0.1,0.12,0.15,0.35,0.15,0.7s-0.08,0.68-0.24,0.97
              c-0.17,0.29-0.4,0.44-0.68,0.44c-0.24,0-0.49-0.14-0.73-0.43l-1.02-1.4c-0.24-0.29-1.42-1.92-3.56-4.89L77.125,259.255z
              M116.635,353.266l-5.91-1.63c-3.46-0.91-6.49-1.671-9.09-2.261c-2.6-0.6-5.41-1.18-8.44-1.75c-3.6-0.609-6.6-1-9-1.16h-0.44
              c-0.62-0.109-1.12-0.46-1.48-1.039c-0.36-0.591-0.55-1.29-0.55-2.11c-0.01-0.521,0.18-0.99,0.56-1.41
              c0.38-0.41,0.79-0.62,1.22-0.62c5.76-0.04,14.38-0.359,25.85-0.96c5.61-0.33,11.1-0.58,16.48-0.729
              c2.45-0.131,5.54-0.21,9.29-0.24c1.1,0,2.09,0.34,2.95,1.04c0.87,0.689,1.31,1.479,1.32,2.359c0,0.58-0.24,1.051-0.71,1.41
              c-0.48,0.351-1.18,0.53-2.09,0.54l-10.65,0.16c-0.91,0.061-2.43,0.1-4.54,0.12c-4.46,0.14-9.5,0.24-15.12,0.27l-3.67,0.03
              c2.31,0.51,5.55,1.4,9.74,2.65c4.33,1.26,7.89,2.149,10.67,2.649h0.44l1.36,0.261c1.06,0.1,2.14,0.39,3.25,0.85
              c1.16,0.58,1.74,1.48,1.75,2.71c0.01,2.11-2.24,3.17-6.75,3.21c-2.49,0.01-5.17,0.34-8.02,0.97s-6.36,1.641-10.53,3.011
              l-8.05,2.689l8.65,0.12c2.59-0.02,7.53-0.2,14.83-0.54l4.89-0.21l9.86-0.24c1.01-0.01,1.93,0.431,2.75,1.3
              c0.01,1.461-0.36,2.471-1.1,3.03c-0.74,0.57-1.83,0.851-3.27,0.86l-5.9-0.141c-2.6-0.149-4.54-0.229-5.84-0.22l-13.89,0.271
              l-13.97,0.27c-2.06,0.01-5.16-0.02-9.29-0.109l-1.17-2.37c0.05-0.46,0.32-0.931,0.82-1.41c0.5-0.47,1.3-1,2.4-1.59
              c2.97-1.49,8.91-3.431,17.82-5.83c1.25-0.36,2.28-0.601,3.09-0.721c2.78-0.72,4.89-1.229,6.33-1.54l5.53-1.35L116.635,353.266z
              M139.015,516.025c-0.46,0.39-1.02,0.58-1.69,0.58c-10.03,0.07-18.5,0.37-25.41,0.88c-0.18,1.41-0.27,2.4-0.27,2.99
              c0.02,2.399,0.2,4.12,0.54,5.17c2.69-0.021,6.74-0.311,12.16-0.87c5.76-0.51,9.84-0.771,12.24-0.79c0.48,0,0.92,0.17,1.33,0.52
              c0.41,0.351,0.62,0.79,0.62,1.311c0.01,0.77-1.09,1.479-3.29,2.13c-3.26,0.96-10.1,1.77-20.51,2.42
              c-7.05,0.46-14.63,0.72-22.75,0.771c-1.48,0.069-3.6,0.119-6.33,0.13c-0.87,0.01-1.3-0.48-1.31-1.48c0-0.58,0.12-1.189,0.35-1.8
              c0.24-0.62,0.5-1.07,0.78-1.37c1.54,0.23,3.34,0.33,5.41,0.32c2.01-0.021,4.46-0.15,7.34-0.4c3.31-0.2,5.8-0.31,7.48-0.32
              l1.3-0.01c0.38,0.061,0.84,0.09,1.37,0.08c0.48,0,1.1-0.06,1.87-0.189c0-0.351-0.03-0.931-0.09-1.75
              c-0.05-0.82-0.13-1.641-0.23-2.46c-0.16-1.931-0.24-3.36-0.24-4.301c-4.18,0.03-8.04,0.11-11.59,0.261l-12.03,0.25l-1.94,0.02
              c-0.01-0.76,0.1-1.439,0.31-2.02c0.21-0.591,0.49-1.03,0.82-1.33c0.52-0.53,1.43-0.86,2.73-0.98l1.65-0.01
              c4.13-0.03,12.03-0.38,23.69-1.04c10.55-0.6,18.47-0.92,23.75-0.95c0.67-0.01,1.27,0.24,1.81,0.73c0.53,0.5,0.8,1.09,0.8,1.8
              C139.695,515.075,139.465,515.646,139.015,516.025z M98.255,445.686c11.29,2.439,19.83,4.1,25.59,5c0.48-0.88,0.84-3.46,1.1-7.73
              c-0.72,0.181-1.6,0.271-2.66,0.28c-4.32,0.03-9.84,0.54-16.55,1.52L98.255,445.686z M122.285,443.235
              c-4.32,0.03-9.84,0.54-16.55,1.52l-7.48,0.931c11.29,2.439,19.83,4.1,25.59,5c0.48-0.88,0.84-3.46,1.1-7.73
              C124.225,443.136,123.345,443.226,122.285,443.235z M122.285,443.235c-4.32,0.03-9.84,0.54-16.55,1.52l-7.48,0.931
              c11.29,2.439,19.83,4.1,25.59,5c0.48-0.88,0.84-3.46,1.1-7.73C124.225,443.136,123.345,443.226,122.285,443.235z"/>
            </g>
            <g>
              <path d="M756.555,233.405c-27.59-33.19-64.2-49.79-109.84-49.79c-35.88,0-71.76,17.08-107.641,51.25
              c-32.22-34.17-68.59-51.25-109.1-51.25c-1.51,0-3.01,0.02-4.51,0.06c-37.35,1.06-69.29,15.38-95.81,42.95
              c-27.58,28.69-41.37,63.52-41.37,104.53v224.79h136.93v-196.6c0-2.82,0.08-5.49,0.25-8.021c1.41-21.74,8.89-32.62,22.45-32.62
              c8.3,0,14.1,2.931,17.39,8.79c3.3,5.86,4.94,16.351,4.94,31.48v196.97h136.93v-196.6c0-27.091,7.689-40.641,23.07-40.641
              c8.29,0,14.029,2.931,17.199,8.79c3.17,5.86,4.761,16.351,4.761,31.48v196.97h136.93v-209.41
              C789.135,296.985,778.274,259.275,756.555,233.405z"/>
            </g>

            <line fill="none" stroke="#fff" stroke-width="100" stroke-miterlimit="10" x1="455.305" y1="107.695" x2="778.305" y2="107.695"/>
          </g>
        </svg>
      </a>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
      <div class="top-bar-right">
       <form method="get" action="search" class="search-wrapper">
          <div class="contain">
              <div class="search-box">
                <input id="search" name="query"  type="text" />
                <span></span>
              </div>
              <button class="btn_search" type="submit" hidden>Rechercher</button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>
  {% endblock %}

  {% block slider %} {% endblock %}
  {% block carte %}{% endblock %}
  {% block musees %}{% endblock %}
  {% block infoMusee %}{% endblock %}
  {% block contact %}{% endblock %}
  {% block mentions_legale %}{% endblock %}


{% block footer %}
    <footer class="grid-container fluid">
      <div class="grid-container">
        <div class="grid-x grid-margin-x crea text-center">
          <div class="cell small-12 medium-12 large-12">
            <ul>
              <li><a href="http://localhost:8888/hexa-musee/">Accueil</a></li>
              <li><a href="http://localhost:8888/hexa-musee/#carte">Musées</a></li>
              <li><a href="http://localhost:8888/hexa-musee/#propos">A propos</a></li>
              <li><a href="http://localhost:8888/hexa-musee/contact">Contact</a></li>
              <li><a href="http://localhost:8888/hexa-musee/mentions_legales">Mentions légales</a></li>
            </ul>
            <p>© Tous droits réservés</p>
          </div>
        </div>
      </div>
    </footer>
  {% endblock %}

  <script type="text/javascript" src="http://localhost:8888/hexa-musee/foundation/js/jquery.js"></script>
  <script type="text/javascript" src="http://localhost:8888/hexa-musee/foundation/js/what-input.js"></script>
  <script type="text/javascript" src="http://localhost:8888/hexa-musee/foundation/js/foundation.min.js"></script>
  <script src="http://localhost:8888/hexa-musee/views/js/wow.min.js"></script>
  <script type="text/javascript" src="http://localhost:8888/hexa-musee/views/js/script.js"></script>
  <script>
  new WOW().init();
  $( document ).ready(function() {
    $(document).foundation();

  $("a").click(function(){
      var region = $(this)[0].id.replace('list-', '');

      if(region !== ""){
        window.location.href = "http://localhost:8888/hexa-musee/region/" + region + '/1' ;
      }
  });

  $('#search').click(function(){
    if($(this).width() < 20){
     $(".btn_search").fadeIn();
    }
  });

  $('.content').click(function(){
    $(".btn_search").fadeOut();
  });

});

  </script>

</body>
{% endblock %}
</html>
