{% extends "base.html.twig" %}
{% block title %}Contact - Hexa-Musée{% endblock %}

{% block contact %}

<section id="contact" >
  <div class="grid-x">
    <div class="cell small-12 medium-12 large-6 con">
      <div class="legendeContact text-justify">
        <h1 class="text-center">Contactez nous !</h1>
        <p>Envie de nous adresser un message ? Une remarque ou suggestions sur le projet Hexa-Musée ? Envie de partager votre expérience à propos de notre site ? </br>
          N'attendez plus et remplissez le formulaire de contact si contre.</p>
          <p> De plus, si vous le souhaitez, vous pouvez prendre contact avec nous pour nous transmettre différentes photos des musées de France que vous avez eu l'occasion de visiter.</br>
            Ces images pourraient, si elles sont validé, être mise en ligne pour illustrer le musée concerné. </p>
          </div>
        </div>
        <div id="formuContact" class="cell small-12 medium-12 large-6">
          <div class="text-center">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 53.3 53.3" style="enable-background:new 0 0 53.3 53.3;" xml:space="preserve">
            <style type="text/css">
            .st0{fill:#E28881;}
            .st1{fill:#776255;}
            .st2{fill:#C7CAC7;}
            .st3{fill:#F4DBC3;}
            .st4{fill:#38454F;}
            .st5{fill:#ccc9c6;}
          </style>
          <path class="st0" d="M39.6,2.3c3.1-3.1,8.2-3.1,11.3,0s3.1,8.2,0,11.3L39.6,2.3z"/>
          <polygon class="st1" points="42.4,17.9 16.5,43.8 16,48.6 44.5,20 44.5,20 "/>
          <polygon class="st1" points="10.3,42.9 15.1,42.4 41,16.5 36.8,12.2 10.9,38.2 "/>
          <polygon class="st1" points="35.4,10.8 33.2,8.7 33.2,8.7 4.7,37.3 9.4,36.7 "/>
          <polygon class="st2" points="48.8,15.8 48.8,15.8 50.9,13.7 39.6,2.3 37.5,4.5 37.5,4.5 "/>
          <polygon class="st2" points="36.1,5.9 36.1,5.9 34.6,7.3 34.6,7.3 46,18.6 46,18.6 47.4,17.2 47.4,17.2 "/>
          <path class="st3" d="M14.4,44.5l-5.1,0.6c0,0-0.1,0-0.1,0h0h0l0,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0
          c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.2
          c0-0.1,0-0.1-0.1-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1l0.6-5.1l-5.1,0.6c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2,0
          l-2.9,12l2.1-2.1c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-2.1,2.1l12-2.9c0-0.1,0-0.2,0-0.3L14.4,44.5z"/>
          <path class="st4" d="M4,49.3c-0.4-0.4-1-0.4-1.4,0l-2.1,2.1L0,53.3l1.9-0.4L4,50.7C4.4,50.3,4.4,49.7,4,49.3z"/>
          <polygon class="st3" points="48.8,15.8 37.5,4.5 37.5,4.5 36.1,5.9 36.1,5.9 47.4,17.2 47.4,17.2 "/>
          <path class="st5" d="M41,16.5L15.1,42.4l-4.8,0.5l0.5-4.8l25.9-25.9l-1.4-1.4L9.4,36.7l-4.8,0.5l-1.1,1.1l-0.2,1c0.1,0,0.1,0,0.2,0
          c0,0,0.1,0,0.1,0l5.1-0.6L8.2,44c0,0,0,0.1,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2
          c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0.1,0.2,0.1c0,0,0.1,0.1,0.1,0.1C8.8,45,8.9,45,9,45c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0h0l0,0h0h0h0l0,0
          c0,0,0.1,0,0.1,0l5.1-0.6l-0.6,5.1c0,0.1,0,0.2,0,0.3l1-0.2l1.1-1.1l0.5-4.8l25.9-25.9L41,16.5z"/>
          <polygon class="st3" points="46,18.6 34.6,7.3 34.6,7.3 33.2,8.7 33.2,8.7 35.4,10.8 36.8,12.2 41,16.5 42.4,17.9 44.5,20 44.5,20
          "/>
        </svg>
      </div>


      <form id="contact_form" action="" method="post">
        <div class="cell small-12 medium-12 large-12">
          <input type="text" id="nom" name="nom" placeholder="Nom" invalid autofocus>
          <p class="error"></p>
          <input type="text" id="prenom" name="prenom" placeholder="Prenom" invalid>
          <p class="error"></p>
          <input type="text" id="email" name="email" placeholder="Email" type="email" invalid>
          <p class="error"></p>
          <textarea id="message" name="message" placeholder="Votre message ..." invalid></textarea>
          <p class="error"></p>
        </div>
        <div class="cell small-12 medium-12 large-12 text-center">
          <button class="hvr-shutter-out-vertical" type="submit" name="send">Envoyer</button>
        </div>
      </form>
      <div class="hidden thanks text-center">
        <p><i class="fab fa-telegram-plane fa-7x"></i></p>
        <p>Merci <br/>Votre message à bien été envoyé !</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
