{% extends "base.html.twig" %}
{% block title %}{{ musee.nom_du_musee }} - Hexa-Musée{% endblock %}

{% block infoMusee %}
<section id="infoMusee">

  <section id="headerInfo" class="grid-contanier fluid ">
    <div class="cell small-12 medium-12 large-12 headerImg">
      <style scoped>
      .headerImg{
        background-image: url('http://localhost:8888/hexa-musee/{{ musee.image }}');
        background-size: cover;
        padding-top: 65px;
        height: 100vh;
      }
      @media screen and (max-width: 39.9375em) {
        .headerImg {
          height: 35vh;
        }
      }

      @media screen and (min-width: 40em) and (max-width: 63.9375em){
        .headerImg {
          height: 50vh;
        }
      }
      </style>
      <div class="fond">
        <h1 class="text-center">{{ musee.nom_du_musee }}</h1>
      </div>
    </div>
    <div class="mouse_scroll show-for-large">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
      <div>
        <span class="m_scroll_arrows unu"></span>
        <span class="m_scroll_arrows doi"></span>
        <span class="m_scroll_arrows trei"></span>
      </div>
    </div>
  </section>

  <section id="info" class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-12 large-12 ">
        <button class="hvr-shutter-out-vertical" type="button" name="button" onclick="history.go(-1)">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve" width="15px" height="13px">
          <g>
            <g>
              <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
              C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
              c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
              l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"/>
            </g>
          </g>
        </svg>
        Retour</button>
      </div>
    </div>

    <div class="grid-x grid-margin-x text-center wow bounceInDown">
      <div class="cell small-13 medium-12 large-12">
        <h2 class="text-center"><span>Le</span> musée</h2>
        <p class="text-justify">{{ musee.description }}</p>
      </div>
    </div>

    <div class="grid-x grid-margin-x text-center">
      <div class="cell small-13 medium-12 large-12">
        <h2 class="text-center"><span>Quel</span>ques informations</h2>
      </div>
      <div class="cell small-12 medium-12 large-3 ">
        <img class="wow tada" src="http://localhost:8888/hexa-musee/views/images/svg/map.svg" alt="Carte">
        <p>{{ musee.adresse }}<br/>
          {{ musee.cp }} {{ musee.ville }}</p>
        </div>
        <div class="cell small-12 medium-12 large-3 ">
          <img class="wow swing" src="http://localhost:8888/hexa-musee/views/images/svg/telephone.svg" alt="Telephone">
          <p> <a href="tel:{{ musee.telephone }}">{{ musee.telephone }}</a></p>
        </div>
        <div class="cell small-12 medium-12 large-3 ">
          <img class="wow tada" src="http://localhost:8888/hexa-musee/views/images/svg/computer.svg" alt="Site web">
            <p><a href="{{ musee.site_web }}" target="_blank" alt="Lien site du musée {{ musee.site_web}}">Site internet</a></p>
        </div>
        <div class="cell small-12 medium-12 large-3 ">
          <img class="wow swing" src="http://localhost:8888/hexa-musee/views/images/svg/open.svg" alt="Horaire ouverture">
          <p>{{ musee.periode_ouverture }}</p>
        </div>
      </div>
    </section>
  </section>

  {% endblock %}
