{% extends "base.html.twig" %}

{% block title %}Accueil - Hexa-Musée{% endblock %}


{% block slider %}
<!-- Slider -->
<div id="slider"  class="show-for-large" >
  <div class="slides">
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Une envie ? un musée</h1>
          <h2>Vous cherchez une idée de sortie ? Une envie de faire grandir votre culture ? </br>
          Avec notre site vous pourrez trouver tous les musées ayant le label Musées de France, présent sur le territoire</h2>
        </div>
      </div>
      <div class="image">
        <img src="./views/images/anthony-delanoix-217060.jpg" alt="Musée des arts et métiers - Paris">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>c'est si simple !</h1>
          <h2>Cliquez sur la carte interactive et laissez vous guider. Vous trouverez forcément le musée qui vous correspond.</h2>
        </div>
      </div>
      <div class="image">
        <img src="./views/images/yeo-khee-646211-unsplash.jpg" alt="Victoria and Albert Museum - Londres">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Une envie ? un musée</h1>
          <h2>Vous cherchez une idée de sortie ? Une envie de faire grandir votre culture ? </br>
          Avec notre site vous pourrez trouver tous les musées ayant le label Musées de France, présent sur le territoire</h2>
        </div>
      </div>
      <div class="image">
        <img src="./views/images/giammarco-boscaro-380907-unsplash.jpg" alt="Trinity College - Dublin">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>c'est si simple !</h1>
          <h2>Cliquez sur la carte interactive et laissez vous guider. Vous trouverez forcément le musée qui vous correspond.</h2>
        </div>
      </div>
      <div class="image">
        <img src="./views/images/patxi-olaeta-69092-unsplash.jpg" alt="Natural History Museum - Londres">
      </div>
    </div>
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
<div class="mouse_scroll show-for-large">
    <div class="mouse">
        <div class="wheel"></div>
    </div>
    <div>
        <span class="m_scroll_arrows unu"></span>
        <span class="m_scroll_arrows doi"></span>
        <span class="m_scroll_arrows trei"></span>
    </div>
</div>
</div>
{% endblock %}

{% block carte %}
<section class="grid-container fluid" id="carte">

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-12 large-12 text-center" >
        <h3 id="musee" class="text-center">Musées de France</h3>
        <p class="legende">Choisissez une région et découvrez les Musées de France présents dans cette zone !</p>
      </div>
    </div>

    <div class="grid-x grid-margin-x " id="map">
        <div class="cell small-12 medium-12 large-3 show-for-large" id="map-list">
          <ul>
            <li><a href="#" id="list-auvergneRhoneAlpes" alt="Musée région auvergneRhoneAlpes">Auvergne - Rhone - Alpes</a></li>
            <li><a href="#" id="list-bourgogneFrancheComte" alt="Musée de bourgogneFrancheComte">Bourgogne - Franche-Comté</a></li>
            <li><a href="#" id="list-bretagne" alt="Musée de bretagne">Bretagne</a></li>
            <li><a href="#" id="list-centreValLoire" alt="Musée de centreValLoire">Centre - Val de Loire</a></li>
            <li><a href="#" id="list-corse" alt="Musée de corse">Corse</a></li>
            <li><a href="#" id="list-grandEst" alt="Musée du grandEst">Grand-Est</a></li>
            <li><a href="#" id="list-guadeloupe" alt="Musée de guadeloupe">Guadeloupe</a></li>
            <li><a href="#" id="list-guyane" alt="Musée de guyane">Guyane</a></li>
            <li><a href="#" id="list-hautDeFrance" alt="Musée du hautDeFrance">Haut de France</a></li>
            <li><a href="#" id="list-ileDeFrance" alt="Musée de l'ileDeFrance">Ile de France</a></li>
            <li><a href="#" id="list-martinique" alt="Musée de martinique">Martinique</a></li>
            <li><a href="#" id="list-mayotte" alt="Musée de mayotte">Mayotte</a></li>
            <li><a href="#" id="list-Normandie" alt="Musée de Normandie">Normandie</a></li>
            <li><a href="#" id="list-nouvelleAquitaine" alt="Musée de nouvelleAquitaine">Nouvelle Aquitaine</a></li>
            <li><a href="#" id="list-occitanie" alt="Musée d'occitanie">Occitanie</a></li>
            <li><a href="#" id="list-paysLoire" alt="Musée de paysLoire">Pays de Loire</a></li>
            <li><a href="#" id="list-paca" alt="Musée de paca">Provences - Alpes - Côte d'Azur</a></li>
            <li><a href="#" id="list-reunion" alt="Musée de la reunion">Réunion</a></li>
          </ul>
        </div>
        <div class="cell small-12 medium-12 large-9 text-center wow jello show-for-large" id="map-image" >
          <svg id="map_des" class="show-for-large" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 851.9 653" style="enable-background:new 0 0 851.9 653;" xml:space="preserve" width="970px" height="653px">
          <style type="text/css">
          .st0{fill:#A9A29C;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
          </style>
          <a id="Normandie" alt="Musée de Normandie">
            <path class="st0" d="M197.5,179.2c-3.4,1.4-7.1-0.6-8-4.1c-0.8-3.3-0.8-6.3,0.3-6l5.9,0.7c0,0,7,1.2-4.5-15.7
            c0,0-5.8-4.5-1.2-28.4c0,0,3.1-4.5-3.8-14.4c0,0-3.2-7-3.6-19.4c0,0-0.4-4.1,12.4,2.9c0,0,4.5,3.7,8.7-2.1c0,0,13.6-8.2,6.2,7
            c0,0-2.2,4.5,2.2,13.6c0,0,5.6,15.7,7.3,4.9c0,0,4.1-6.6,9.9,0.8c0,0,13.6,4.5,21.8,2.9c0,0,4.9-1.2,8.2,4.1c0,0,6.6,6.6,21-5.4
            c0,0,10.3-0.8,11.5-4.1c0,0-34.6-2.5,0-20.2c0,0,13.2-7.4,36.3-10.3c0,0,8.9-0.4,17.2-8.7c0,0,24,14.4,8.3,23.9
            c0,0-4.9,6.6,2.5,22.3c0,0,11.1,14.4-0.8,10.7c0,0-1.6,10.3-14.8,16.5c0,0,8.2,14.1-7.8,19h-14.4c0,0-18.1,1.6-5.4,14.8
            c0,0,8.2,12.4-7.4,12.8c0,0,4.9,21.8-10.7,7l-14.8-14c0,0-21,12-22.7-11.1c0,0-13.2,12-44.5,1.2l-10.3-3.3L197.5,179.2z"/>
          </a>
          <a id="hautDeFrance" alt="Musée du hautDeFrance">
            <path class="st0" d="M405.9,0.4c0,0-4.1,8.7-32.1,9.1c0,0-18.1-0.8-16.9,31.7c0,0-0.4,26.8-8.7,30.5
            c0,0,23.1,17.3,11.1,27.2c0,0-10.3,1.6,4.5,29.3c0,0,2.9,7.8-5.8,8.7c0,0,5.8,7.8,15.7,0c0,0,15.7,16.1,52.3,8.7c0,0,7,14,18.1,20.6
            c0,0,9.5-5.6,10.7-25c0,0-8.2-12.9,16.9-14.9v-15.3c0,0,13.6-3.7,10.3-25.6c0,0,6.6-40.8-20.2-25.6c0,0-3.7,3.7-4.5-5.4
            c0,0,2.5-10.3-12.8-9.1c0,0-13.2-35-22.3-12.8C422.4,32.6,404.6,21.5,405.9,0.4"/>
          </a>
          <a id="ileDeFrance" alt="Musée de l'ileDeFrance">
            <path class="st0" d="M355.5,140.3c0,0-2.5,6.2-10.8,10.8c0,0,3,7.4,3.5,25l5.8,5.9c0,0-2.5,9.6,10.8,13.3
            c0,0,4.3,3.7,2.2,11.1c0,0,32.1-10.5,22.6,11.7h27.8c0,0,7.1-5,3.1-9.8c0,0-3.4-11.9,7.4-5.1c0,0,5.9,2.5,11.1-1.9
            c0,0,1.2-16.1,8-17c0,0-5.3-4.3-4.9-14.5c0,0-12.4-8.7-17.9-20.7c0,0-20.7,8.8-50.7-6.9C373.4,142.3,365.1,148.3,355.5,140.3"/>
          </a>
          <a id="grandEst" alt="Musée du grandEst">
            <path class="st0" d="M507.5,84.8c0,0-3.6-2.1-8.7,4.5c0,0-8.9-5-11.9-2.4c0,0,3.6,19.7-11.1,26v16.7
            c0,0-21.8-4.2-16.4,10.8c0,0-2.1,22.4-13.1,29.3c0,0,2.5,9.7,6.9,14.6c0,0-10.8,2.1-10.2,17.4c0,0,6.6,4.2,8.1,9.9
            c0,0-9.9,3.9,5.4,6.9c0,0,3,17.3,22.4,15.2l17,0.2c0,0,0.3-13.3,17,0c0,0,3.9,2.2,5.1,9.1c0,0-7.5,6,2.4,10.2l8.4,4.2
            c0,0,0,13.7,9.6,2.1c0,0,1.8-5.1,7.8-4.8l4.8,0.6c0,0,9-2.1,3.3-8.1c0,0-1.2-4.8,9.9-9c0,0,2.7-12.2,13.4-4.8c0,0,5.7,6.9,9.6,1.5
            c0,0,4.2-4.5,6.6,1.8c0,0,0.6,6.3,7.8-0.3c0,0,11.3,11.9,18.8,11.9c0,0,8.1,5.4,0,11.9c0,0,11.9,3,9.9,11.4c0,0-0.9,3.9,6.6,0
            c0,0,13.4-2.4,14.6-31.1v-11.1c0,0,5.4-35.8,13.7-40l17.9-27.5c0,0-23-14.9-49.9-11.1l-23.6-3.3c0,0-5.4-0.3-6-8.5
            c0,0-11.9-26.1-29-11.8c0,0-2.4,1.2-5.4-2.4c0,0-10.5-15.5-22.4-3.3c0,0-5.1-3.3-5.4-8.1c0,0-16.7-17-23.9-13.7
            c0,0-6.3-11.6-1.5-25.1C515.9,74.7,508.4,74.4,507.5,84.8"/>
          </a>
          <a id="bourgogneFrancheComte" alt="Musée de bourgogneFrancheComte">
            <path class="st0" d="M440.3,205.9c0,0-3.3,3.9-10.5,2.1c0,0-10-8.2-4.8,2.7c0,0,1.2,6.8-4.9,11.7
            c0,0,7.6,6.6,2.7,13c0,0-7.4,1-2.7,7.8c0,0,1.9,5.6-8,3.1c0,0-12.2,0,2.7,10.3c0,0,4.3,5.2-2.9,8.7c0,0,6.4,6.5,2.1,10.4
            c0,0-6,1.9,3.5,10.4c0,0,4.5,26.6-1,30.9c0,0,6,3.7,7.4,8.7c0,0,11.1-4.7,13.4,4.1c0,0,13-18.5,14.4,3.1c0,0-0.2,8.9,13.2,11.1v11.1
            c0,0-15.3,3.7,0,10.3h9.1c0,0,4.5,8.2,10.1-1c0,0,0.2-5.8,3.7-5.6l10.3-0.6c0,0,5.4,0.1,3.1,4.2c0,0-5.4,12.7,6.4,2.9
            c0,0,5.8-8.7,6.6-16.9c0,0,4.1-13.6,17.7-1.4c0,0,21.8,32.8,39.6,2.5c0,0,8.2-23.1,21-28c0,0-3.9-13.6,12.6-15.2l19.2-23.5
            c0,0-15-6.8,2.1-11.1c0,0,2.3-5.2-10.5-7.2c0,0,7.8-8.9,3.3-10.7c0,0-12.2-3.7-17.9-11.5c0,0-6.4,6.6-10.7-2.5c0,0-8,6.2-16.3-2.5
            c0,0-5.8-3.7-7.4,4.5c0,0-9.3,3.7-9.3,6.8c0,0,3.3,11.9-7,11.3c0,0-6.6-3.9-11.5,5.8c0,0-9.5,10.9-13.8-4.5c0,0-18.5-6-10.7-15.5
            c0,0,2.3-3.5-5.6-8.9c0,0-10.7-9.7-10.5,1.4l-28.2,0.8c0,0-11.1-3.5-16.5-15.7c0,0-13.2-2.9-6.4-10.5
            C447.1,212.7,445,206.8,440.3,205.9"/>
          </a>
          <a id="centreValLoire" alt="Musée de centreValLoire">
            <path class="st0" d="M309.5,199.6c0,0,17.6-0.9,5.8-17.2c0,0-9.5-9.8,5.6-9.8h13.9c0,0,6.7-0.5,7.9-4.1
            c0,0,2.6-4.8,2,0l0.1,7.8c0,0-0.9,2.1,5.8,7.9c0,0-1.8,9.5,12.5,15.3c0,0,4.4,3.9,0,11.4c0,0,36.2-14.6,23,11.8h29.4
            c0,0,6.6,4.1,4.3,9.8c0,0-7.6,4.2-4.3,10c0,0,3.3,3-8.1,1.4c0,0-11.1,2.3,3.3,13.7c0,0,5.1,3.5-3.5,6.7c0,0,7.2,7,3.5,9.1
            c0,0-6.7,4.5,3.3,13.5c0,0,4.6,22.9-2.1,29.7c0,0-5.1,9.1-14.9,3.7l-4.9,4.6c0,0-0.5,1.9,0.5,4.2c0,0,4.4,9.8-7.9,7.4
            c0,0-11.1-2.3-13.5,6.5h-5.1c0,0-5.1,4.2-9.5-1.6l-12.1,1.2l-11.1-0.2c0,0-9.3,10.6-10.2,2.2c0,0-9.8,0.6-8.4-6.3l-9.8-10.9
            c0,0-3.4-3.1,0-8.4l-9.6-12.6c0,0,1-14.1-13.6-7.3c0,0-11.7,3.7-9-6.8l-11.9-9.9c0,0,0-13.1,6.8-16.7c0,0,3.7-23.5,12.6-11.5
            c0,0,11.5-5.2,13.1-8.9c0,0,15.7-13.1,14.1-20.4c0,0-7.2-11.7,1.2-11.7C308.6,213.1,314.1,206.3,309.5,199.6"/>
          </a>
          <a id="bretagne" alt="Musée de bretagne">
            <path class="st0" d="M210.8,183.9l-8.7-3.4c0,0-18.5,10.2-17.9-9.9c0,0-12.1,3.4-10.8-6.8c0,0-7.1-5.5-16.4,4.8
            c0,0-6.5,4.3-6.5-6.3c0,0-9.6,0.2-15.1,8.6c0,0-4.6,10.1-9-4.4c0,0-14.2-41.1-38.3-10.4c0,0-1.5,2.8-4-1.2c0,0-8.3-9.3-8.7,1.5
            c0,0-3.1,6.5-6.8-6.8c0,0-30.9,0.6-38,8c0,0-11.7,9.6,2.5,13.3c0,0,26.3-4,22.9,13c0,0-10.5-10.2-21.6-7.1c0,0,13.3,3.1,13.3,7.1
            c0,0,5.6,9-9,7.4l-12.6,1.5c0,0,19.4,5.6,15.7,19.5c0,0,47.3-4.6,62.8,24.1c0,0,18.5-7.4,37.7,11.1c0,0,9.6,3.7,11.1-9.9
            c0,0,1.9-9,20.4-2.8l12.4-8.7c0,0,3.1-3.1,7.1,0.3l4.6,4.9c0,0,10.2-7.7,11.1-15.8c0,0,2.5-12.7-1.2-17.9l3.1-3.7c0,0,1.9-3.4,0-4.3
            C210.8,189.7,209.1,187.2,210.8,183.9"/>
          </a>
          <a id="paysLoire" alt="Musée de paysLoire">
            <path class="st0" d="M213.6,183.9c0,0,24.7,8.3,39.9,1.5c0,0,5.3,16.1,25,9.6c0,0,17,17,21,17c0,0-1.9,5.9,3.4,13.9
            c0,0-11.1,21.3-22.9,23.8c0,0-11.4-9.6-16.7,13.3c0,0-8.3,11.1-7.1,19.8c0,0-6.2,6.2-24.1,2.2c0,0-6.5-3.4-6.5,5.6l-16.1,1.5
            c0,0,2.2,9.3,8.3,12.1c0,0-0.9,11.7,3.7,16.1c0,0,6.5,5.6-2.5,9c0,0-2.2,6.2,4.6,7.4c0,0-11.1,11.7-18.9-3.7c0,0-10.2,11.1-30.6-0.9
            c0,0-15.5-3.7-14.5-17.3c0,0-6.8-17.9-14.2-18.2l8.3-9.4c0,0,5.6-4.2-0.9-7.9c0,0-9.9-13.3,1.9-13c0,0,0.3-3.5-5.6-3.7
            c0,0-13.9,7.4-16.4-1.5c0,0-3.7-9.3,9.3-9.9c0,0,13.3,0.3,14.5-11.7c0,0,0-8,16.7-0.3l13-9c0,0,3.4-7.4,10.8,5.6
            c0,0,20.2-8.3,14.4-37.1c0,0,4.7-4,2-9.3C213.6,189.1,210.9,185.9,213.6,183.9"/>
          </a>
          <a id="nouvelleAquitaine" alt="Musée de nouvelleAquitaine">
            <path class="st0" d="M258.7,285.6c0,0-9.3,6.8-24.1,2.8c0,0-6.8-4.6-4.6,4.3l-15.1,1.9c0,0,2.5,7.1,8,8.3
            c0,0-2.8,9.9,1.9,14.5c0,0,8,10.2-1.5,14.2c0,0-0.6,3.4,6.2,3.1c0,0-11.1,18.9-25,2.8c0,0-5.9,4.2-8,3.3c0,0,0.3,6.9-5.9,8.7
            c0,0,17.3,11.1-4.3,33.1c0,0,9.3-0.3,1.9,25l-11.1,51.6c0,0,8-10.8,10.5-4c0,0,5.9,11.1-7.4,8.3c0,0-3.4,0.9-3.1,13.6l-16.1,55.6
            c0,0-9.3,17.3-23.2,19.2c0,0,1.9,8.3,15.5,8c0,0,8-0.3,2.5,8.7c0,0-9,14.2,4.6,7.7c0,0,14.2-0.3,19.5,9.6h10.8
            c0,0-0.3,10.5,9.6,14.2c0,0-0.9-2.8,12.7-1.9c0,0-1.5-16.7,13.6-21.6c0,0,10.5-8.7,3.4-20.7c0,0,9.3-7.4-8.7-13.6
            c0,0,6.8-12.1,4.6-20.4l10.8-5.6c0,0,2.2,11.1,6.8,0.9l27.2-5.3c0,0,8.3,7.1,16.7-2.8c0,0,10.5-11.1,0-12.4l2.2-5.3l9,1.9l-3.7-13.9
            l5.9-0.3c0,0,4.9,0.3,4.9-8.3c0,0,11.7-1.2,16.4-13c0,0,3.7-2.8,0-10.5c0,0,2.8-10.2,13.3,0.6c0,0,5.1,10.8,11.4,3.7l8.4-0.3
            c0,0,12.4-13,8.7-19.8c0,0,12.7-4.3,11.1-11.7h5.3c0,0,8.7-4.6,2.2-17.9c0,0,9.3-5.6-3.1-10.8c0,0-5.6-3.4,4.3-8
            c0,0,12.9-5.7,2.1-14.3c0,0,12.1-3-10.8-21.1l-7.1-2c0,0-4.9,3.4-13-1.5l-19.8,0.9c0,0-9.1,12.2-14.5,2.6c0,0-9.3,0.2-9-9.1
            c0,0-16.7-14.8-10.2-19.8l-9.3-11.1c0,0,3.1-13.9-10.8-5.6c0,0-13.6,4.6-12.1-9.9L258.7,285.6z"/>
          </a>
          <a id="auvergneRhoneAlpes" alt="Musée région auvergneRhoneAlpes">
            <path class="st0" d="M414,318.6c0,0-2.5,10.3-15.8,4.4l-2.7,3c0,0,8.6,17-11.4,12.4c0,0-8.2-0.2-9.5,6.1
            c0,0,24.1,15.5,16.4,24.4c0,0,7.6,9.7-4.8,15.6c0,0-10.1,4.4-1.1,6.7c0,0,8,6.1,1,11.6c0,0,5.9,13.5-3.2,19.4h-4
            c0,0-2.7,10.9-11.2,10.3c0,0,4.2,4.2-9.3,20.4c0,0-0.8,6.5,4,8.8c0,0-2.7,11.1,1.7,14.5l1.5-2.9l6.5-0.2c0,0,2.1,7.4,7.4-0.6
            c0,0,8.8-17.7,15.6-18.7c0,0,6.7,1.5,9.9,19.8c0,0,2.7,6.5,3.6-1.9c0,0,0.8-5.9,2.9-5.9c0,0,0-13.2,6.9-4.4l5.9-5.1
            c0,0,5.7-6.7,7.6,2.3c0,0-1.3,11.4,4,6.7c0,0,4.2-8.8,8-1.9c0,0,0.8,2.7,5.1,1.7c0,0,8.6,2.5,7.4,17.5c0,0,4.4-1.1,4.4,9.7
            c0,0,5.5,1.5,3.6,11.8c0,0,6.5-2.9,6.9,1.5c0,0,9-7.4,11.8,0c0,0,1.1,2.1,2.9,0c0,0,1.1-6.7,9.9,1.9c0,0,2.7-7.2,7.1-1.9
            c0,0,3.2,7.4,8.4,3.1c0,0,9.9-6.8,12.4,1.4l13,9.7c0,0,6.9,3.4,9-3.6c0,0,6.9,5,4.6-2.3c0,0,5-7.2-7.2-10.3c0,0-12.6-7.2,2.7-9.9
            l2.5-9.5c0,0,1.3-6.9,6.7-3.2c0,0,6.7,0,4.4-4.6c0,0-2.3-5,3.4-4.8c0,0,5.1,0.8,6.9-4.6c0,0,7.2-6.7,17.3-0.4v-9.3
            c0,0-9.7-2.1-4.4-9.1c0,0,4-5.9,9.9,3.6c0,0,4,0.4,3.2-4.6c0,0-0.2-4,6.9,0.8c0,0,2.1-7.2,11.8-3.4c0,0,5-7.1,14.9-6.3
            c0,0-3.4-7.6,2.1-13c0,0-12-5.5-10.5-17.3c0,0-21.2-9,1.1-18.1c0,0,5.5-6.1-6.9-13.7c0,0-8.2-10.3-0.4-17.3c0,0-5-15.4-18.5-8.8
            c0,0-19.4,4.4-7.4,11.1c0,0-5.7,4.2-7.1,6.7h-7.6l-6.1,2.7c0,0-4.4-2.5,6.9-15.4c0,0,1.6-4.7-3.2-1.9c0,0-16.6,29.7-41.4-4.2
            c0,0-9.5-10.9-14.1,0.4c0,0-2.5,13.5-7.4,17.9c0,0-15.8,13.7-9.7-6.5h-9.3c0,0-2.3-1.3-2.9,3.6c0,0-4.6,12.4-14.5,3.2l-7.2,0.2
            c0,0-18.9-6.9-2.5-14.5l-0.2-7.2c0,0-15.8-4-13.5-17.3c0,0-0.6-10.9-11.8,4.6c0,0-2.7-11.4-15.3-4.6
            C421.5,328.7,422.5,321.7,414,318.6"/>
          </a>
          <a id="occitanie" alt="Musée d'occitanie">
            <path class="st0" d="M355.4,455.2h-6.7c0,0-7.1,8.5-14.9-4.7c0,0-6.2-7.4-8.1-1.4c0,0,3.4,10.7-0.9,11.5
            c0,0-1.9,9.8-16.3,13.7c0,0,1.6,9.6-9.3,8.8l3.9,14l-11.2-1.6v1.6c0,0,7,3.4,0.8,11.2l-4.8,6.2c0,0-5.7,7.9-17.2,1.4l-23.9,4.8
            c0,0-5.7,9-10.5,0l-6.4,4c0,0-0.8,14-4.3,17.6c0,0,15.2,5.4,7.9,15.5c0,0,7.5,15-4.7,22c0,0-14.1,3.6-12.3,20.3
            c0,0,13.8,6.7,15,11.8c0,0,11.8-6.8,16.9,1.6c0,0,2.9-5.3,7.8,0h14c0,0-6.1-16.3,9.8-9.2c0,0,16.6,4,15.8,10.7c0,0,16.4-4.3,15.8,9
            c0,0,4-6.7,12.3-1.1c0,0,8.2,2.2,4.5,9.9c0,0,12.9,3.6,13.5,10.7l11.5-2.6c0,0,3.3-2.9,8.4,0.2l5.1,3.1l4,2.5c0,0,8.5,3.3,12.6-2.8
            c0,0,9.9-9.2,21.7-1.7l4.7-0.3c0,0-9.3-5.6-6.7-19.7l0.9-6.5c0,0-8.7-2.2-1.1-10.4l3.3-5.6c0,0-10.1-7.3,1.7-7.1l9.2-9.6
            c0,0,5-5,14.1-2.3c0,0,18.1-17.7,31.6-19.4c0,0,5.6-1.6,6.7,6.8l12.4-7.6c0,0,0.3-9.9,10.4-10.1c0,0,3.5-4.8,2.2-9l11.3-11.3l-7.4-8
            c0,0,2.5-9.3-9.1-15.2c0,0-1.7-0.8-1.7,1.9c0,0-3.7,3.9-7-1.1c0,0-1.7-5.4-10.9,2.6c0,0,0.8-7.3-8.2-1.4c0,0,3.9-9.6-3.3-13.5
            c0,0,1.6-8.8-4.7-9.2c0,0,3.1-13.2-5.4-17.5c0,0-5.7,0.8-6.8-3.6c0,0-0.9-2.3-3.4,1.6c0,0-8.1,11.3-8.7-6.7c0,0-0.2-5.4-4.3-0.5
            l-6.8,5.9l-2.5-2.9c0,0-2.3-1.2-2,1.6v4c0,0-2.8,1.1-3.6,7.1c0,0-2.5,9.8-7.9-0.2c0,0-2.3-11.3-4.8-14.1c0,0-2.1-6.1-6.3-0.5
            c0,0-6.7,7.8-9.8,15.4c0,0-6.7,8.4-11,0.6h-3.4l-2.5,4.3c0,0-7.8-3-4.5-16.6C359.7,464.2,355.1,460.7,355.4,455.2"/>
          </a>
          <a id="paca" alt="Musée de paca">
            <path class="st0" d="M610.1,455.8c0,0-5.5-0.5-6.4-5l-2.9-2c0,0-2.8-1.8-2.2,1.4c0,0-0.7,5.9-6.3,4.2c0,0-3.6-8.5-7.6-4.2
            c0,0-3.5,4.8,5.3,6.3l0.1,14c0,0-12.3-7.9-17.3-1.1c0,0-2.2,6-7.8,5.1c0,0-4.6-0.1-2.5,2.9c0,0,2.5,8.4-7.1,7.4
            c0,0-4.1-5.4-6.4,11.9c0,0-12.1,2.5-2.4,7.2c0,0,11.6,2.7,6.8,12.1c0,0,3.5,8.6-5.7,5.5c0,0-4.9,11.8-24.1-7.6c0,0-1.8-6.9-9.6-1.9
            c0,0-6.1,6.7-11.5-2.9c0,0-2.3-4.1-3.9,2.3c0,0,3.7,3.9,3.3,10.6l8.5,8.5l-12.4,12.9c0,0,1.9,7.3-3.4,10.5c0,0-8.5-1.2-8.6,8
            l-12.3,8.6c0,0,6.2,3.5,10.3,0.8l3-4.9c0,0,5.1-8,9.6,1c0,0,0.6,2.9-1.1,4.9c0,0,1.9,12.5,10.4,2.1c0,0,4.4-4.1,11,0.5
            c0,0-1.9-4.3-1.1-6.8c0,0-0.1-4.2,4.6-1.3l5.1,3.3c0,0,5.3,3.7,0.8,5.1c0,0-2.3,3.5-9.6,3.3c0,0,1.2,5.2,14.8,1.4
            c0,0,4.9-1.1,4.6,2.3c0,0,0.6,5.6-0.6,6.3c0,0,12.5-0.1,13.3,5.1c0,0,7.1-3.2,11.1,3.3c0,0,1.6,3.3,1.2,5.3c0,0,3.4-7.9,7.7-5.1
            c0,0,6.9,5.1,11.7,0.5c0,0,7.7-2.4,8.5,1.7c0,0,0.7-3.9,5-4.4c4.3-0.5,12-2.5,12-2.5s6.9-3,0-5.5c0,0-6.5,0.8-1.6-3.3
            c0,0,7.1-3.3,6.3-8.4c0,0,12.9,1.7,12.6-8.8c0,0,10.3,0,9.2-7.6l8.6-3.7c0,0,3.9-2.1,4.7-6.6c0,0,5.5,3,7-2.4c0,0,3.2-6.2-1.9-6.2
            c0,0,11.5-7.6,6.6-18.5c0,0-19.5,4.7-30.2-3.1c0,0-7.4-3.6-10.9-15.2c0,0-1.6-2.4,1.6-3.8c0,0,2.1-5.7-3.3-7.8
            c0,0,5.6-13.3,9.3-14.5c0,0,1.2-10.7-8.4-10.7C616.1,466.3,602.1,463.5,610.1,455.8"/>
          </a>
          <a id="guyane" alt="Musée de guyane">
            <path class="st0" d="M746.8,11.8c0,0,1.3,6.4-5.5,10.5c-6.8,4.2-12.7,14.3-6.8,24.6c0,0-3.5,22,16.3,29.9
            c0,0-1.5,10.1-7.7,16.3c0,0,7,15.8-11,25.9c0,0,13.6,15.6,27.5-1.8c0,0,7.9,8.1,16.3,0c0,0,3.5,1.8,1.3,5.3c0,0,19.3,2.2,23.7-15.8
            c0,0,14.9-44.4,27-49.7c0,0-3.7-18.7-17.6-19.8c0,0-27.7-14.7-30.3-21.5c0,0-25-2.4-30.8-7.7L746.8,11.8z"/>
          </a>
          <a id="reunion" alt="Musée de la reunion">
            <path class="st0" d="M744.5,151.2c0,0,4.6,11.2-6.4,14.1c0,0-5.8,6.6,3.7,12.3c0,0,5.1,5.5,3.7,11.4
            c0,0,2.6,11,13.3,11.6c0,0,29.9,24.8,55.4,5.7v-12.7c0,0,9.7-11.4,0-15.4c0,0-13.6-9.7-14.3-14.7c0,0,1.8-17.4-19.8-16
            c0,0-19.8-7.3-25.5,2C754.6,149.5,752.4,154.3,744.5,151.2"/>
          </a>
          <a id="martinique" alt="Musée de martinique">
            <path class="st0" d="M783.5,254.3c0,0-16.7-15.8-21.5-16.9c0,0-13.4-9-21.1,0c0,0-6.8,7.3,2.9,13.6l3.1,2.2
            c0,0-5.7,10.5,6.4,18.2l10.1,8.4c0,0,6.4,0.9,9-2l4.6,7.7c0,0,1.5,6.4-5.3,3.1c0,0-2-4.8-6.4-0.4c0,0-8.6,4.6-1.8,9.7
            c0,0,4,6.4,6.8,2.6c0,0,1.8-2,6.8-0.7l16.3,3.1c0,0,0.4,9.9,6.2,9.7c0,0,6.8-2.9,7-7.5c0,0,3.5-6.6-1.1-13.2c0,0-2.2-24.8-18.2-24.4
            c0,0,0-4,6.8-4c0,0-8.8-2.6-7.9-5.9c0,0,6.2-7.3,12.1-6.2C798.2,251.4,788.6,246.1,783.5,254.3"/>
          </a>
          <a id="guadeloupe" alt="Musée de guadeloupe">
            <g class="st0">
              <path  d="M822.5,463.1c0,0-9.6-1.4-13.8-7.9c0,0-1.9-3.7-11.4-2.6c0,0-8.9-0.9-8.4-9.8
              c0,0,1.4-11.4-8.6-12c0,0-3-2-3.5-3.4c0,0-1.9,6.1-5.8,7.5c0,0-8.6,7,3,12.1c0,0,1.6,2.8-3.7,8.6c0,0-5.6,10.7-16.3,2.3l-10-4.2
              c0,0-5.1-4-9.3,2.1c0,0-5.8,10.3,1.6,18.7c0,0,4.9,14.2,3,20.8c0,0,4.9,9.1,9.1,10.5l0.7,4.2c0,0,27.9-5.7,17.7-28
              c0,0-6.1-11.7-0.9-13.3c0,0,2.8-1.5,6.1,1.7c0,0,14,6.3,25.4-4.5C797.3,465.9,810.6,460.8,822.5,463.1"/>
              <path d="M796.3,489c0,0-1.6-0.5-5.1,7c0,0-4.4,9.1,2.6,11.2c0,0,13.5,1.1,15.2-6.8
              C808.9,500.4,804.7,484.3,796.3,489"/>
            </g>
          </a>
          <a id="mayotte" alt="Musée de mayotte">
            <path class="st0" d="M757.5,314.2c0,0-5.1,9.1-10.3,11c0,0-1.9,6.3-4.7,6.8h5.8c0,0-8.2,8.9-0.5,8.6
            c0,0,7,5.6,13.3,4.4c0,0-2.8,10.3,1.4,11.2l4,9.6c0,0-7.7-0.7-8.2,3.7c0,0,14.5,6.5,15.9,13.5c0,0,7.2,13.8-5.6,9.3
            c0,0-8.2-2.3-7.7-9.8l-9.1,0.7c0,0,2.8,10.3,10,11c0,0-2.8,8.4-6.3,8.6h8.2c0,0,5.8,17.1,18.2,3.3c0,0,7.2,5.1,10.5,1.4
            c0,0-11.9-6.6-9.6-10.9l16.1-20.1c0,0-21.9-7.5,2.8-27.1c0,0,12.8-11.2-9.3-15.9c0,0-14.3-4.2-18.5-1.2
            C774,332.4,757.7,329.9,757.5,314.2"/>
          </a>
          <a id="corse" alt="Musée de corse">
            <path class="st0" d="M780,520.7c0,0,2.1,20.8-3.5,21.9c0,0-7.9-9.6-13.5,1.4c0,0-11.2,1.4-13.3,7.5l-4.4,1.2
	c0,0,0.2,11.4-8.9,14.5c0,0,9.1,3,7,7.2c0,0-2.1,1.9-5.1,0c0,0-1.4,15.6,9.8,14.7c0,0-7,9.8-9.3,9.8c0,0,6.5,2.6,9.3,0
	c0,0,4.9-3,3,5.1c0,0-1.2,7.2-5.1,7.7c0,0,8.4,6.3,13.5,4.7c0,0-12.8,6.8-4,9.7c0,0,4.2,5.7,13.5,4.7c0,0,0.2,8.6,7,6.5
	c0,0,1.2-14.9,8.4-21v-20.5c0,0,9.8-3.5,7.9-19.6c0,0,1.6-16.3-7.5-32.2c0,0,4.4-7,0.2-23.3C785.1,520.7,781.8,514.6,780,520.7"/>
          </a>
        </svg>
      </div>
      <div class="cell small-12 medium-12 large-9 text-center wow jello hide-for-large" id="map-mobile" >
        <svg version="1.1" id="map_mob" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="700px" height="800px" viewBox="0 0 537 647" enable-background="new 0 0 537 647" xml:space="preserve">
                <a id="Normandie" alt="Musée de Normandie">
                  <path class="st0" d="M145.174,144.955
                c-2.711,1.122-5.755-0.471-6.439-3.325c-0.644-2.685-0.613-5.09,0.21-4.847l4.75,0.578c0,0,5.666,1-3.667-12.666
                c0,0-4.667-3.667-1-23c0,0,2.531-3.667-3.067-11.667c0,0-2.6-5.667-2.933-15.667c0,0-0.333-3.333,10,2.334c0,0,3.667,3,7-1.667
                c0,0,11-6.667,5,5.667c0,0-1.752,3.666,1.791,11c0,0,4.542,12.666,5.876,4c0,0,3.333-5.334,8,0.666c0,0,11,3.667,17.666,2.334
                c0,0,4-1,6.667,3.333c0,0,5.333,5.333,17-4.333c0,0,8.333-0.667,9.333-3.334c0,0-28-2,0-16.333c0,0,10.667-6,29.334-8.333
                c0,0,7.224-0.334,13.944-7c0,0,19.389,11.666,6.723,19.333c0,0-4,5.35,1.999,18.008c0,0,9,11.659-0.666,8.659
                c0,0-1.333,8.333-12,13.333c0,0,6.667,11.366-6.334,15.35h-11.666c0,0-14.667,1.317-4.334,11.983c0,0,6.667,10-6,10.334
                c0,0,4,17.666-8.666,5.666l-12-11.333c0,0-17,9.667-18.334-9c0,0-10.666,9.667-36,1l-8.333-2.667L145.174,144.955z"/>
              </a>
              <a id="hautDeFrance" alt="Musée du hautDeFrance">
                <path class="st0" d="M313.695,0.361
                c0,0-3.333,7-26,7.333c0,0-14.667-0.666-13.667,25.667c0,0-0.333,21.667-7,24.667c0,0,18.667,14,9,22c0,0-8.333,1.333,3.667,23.666
                c0,0,2.333,6.334-4.667,7c0,0,4.667,6.334,12.667,0c0,0,12.667,13,42.333,7c0,0,5.667,11.334,14.667,16.667
                c0,0,7.667-4.489,8.667-20.244c0,0-6.667-10.423,13.666-12.089V89.694c0,0,11-3,8.334-20.666c0,0,5.333-33-16.334-20.667
                c0,0-3,3-3.666-4.333c0,0,2-8.334-10.334-7.334c0,0-10.666-28.333-18-10.333C327.028,26.361,312.695,17.361,313.695,0.361"/>
              </a>
              <a id="ileDeFrance" alt="Musée de l'ileDeFrance">
                <path class="st0" d="M272.945,113.445
                c0,0-2,5-8.75,8.75c0,0,2.417,6,2.833,20.25l4.667,4.75c0,0-2,7.75,8.75,10.75c0,0,3.5,3,1.75,9c0,0,26-8.5,18.25,9.5h22.5
                c0,0,5.75-4.061,2.5-7.906c0,0-2.75-9.594,6-4.094c0,0,4.75,2,9-1.5c0,0,1-13,6.5-13.75c0,0-4.25-3.5-4-11.75c0,0-10-7-14.5-16.75
                c0,0-16.75,7.094-41-5.578C287.445,115.117,280.695,119.945,272.945,113.445"/>
              </a>
              <a id="grandEst" alt="Musée du grandEst">
                <path class="st0" d="M395.882,68.602
                c0,0-2.898-1.691-7.005,3.624c0,0-7.168-4.079-9.663-1.94c0,0,2.897,15.95-8.938,21.023v13.527c0,0-17.634-3.381-13.287,8.697
                c0,0-1.688,18.116-10.628,23.673c0,0,2.022,7.885,5.558,11.802c0,0-8.696,1.725-8.215,14.045c0,0,5.315,3.382,6.522,7.971
                c0,0-7.971,3.14,4.348,5.556c0,0,2.415,14.01,18.118,12.319l13.77,0.142c0,0,0.239-10.729,13.77,0c0,0,3.139,1.791,4.106,7.347
                c0,0-6.039,4.831,1.932,8.213l6.764,3.382c0,0,0,11.112,7.73,1.691c0,0,1.449-4.107,6.28-3.865l3.863,0.483
                c0,0,7.247-1.691,2.658-6.523c0,0-0.966-3.864,7.971-7.246c0,0,2.176-9.904,10.87-3.865c0,0,4.59,5.556,7.73,1.208
                c0,0,3.382-3.624,5.313,1.449c0,0,0.484,5.073,6.282-0.241c0,0,9.178,9.662,15.217,9.662c0,0,6.523,4.348,0,9.662
                c0,0,9.662,2.416,7.974,9.18c0,0-0.727,3.14,5.313,0c0,0,10.871-1.933,11.836-25.122v-8.938c0,0,4.351-28.988,11.113-32.37
                l14.493-22.223c0,0-18.602-12.078-40.34-8.938l-19.084-2.657c0,0-4.35-0.243-4.831-6.885c0,0-9.662-21.136-23.434-9.541
                c0,0-1.932,0.966-4.347-1.933c0,0-8.455-12.561-18.117-2.657c0,0-4.105-2.657-4.348-6.522c0,0-13.527-13.769-19.325-11.112
                c0,0-5.074-9.421-1.208-20.291C402.646,60.389,396.606,60.147,395.882,68.602"/>
              </a>
              <a id="bourgogneFrancheComte" alt="Musée de bourgogneFrancheComte">
                <path class="st0" d="M341.531,166.502
                c0,0-2.657,3.14-8.455,1.691c0,0-8.048-6.665-3.881,2.168c0,0,1,5.5-4,9.5c0,0,6.167,5.334,2.167,10.5c0,0-6,0.834-2.167,6.334
                c0,0,1.5,4.5-6.5,2.5c0,0-9.833,0,2.167,8.333c0,0,3.5,4.167-2.334,7c0,0,5.167,5.224,1.667,8.446c0,0-4.833,1.554,2.833,8.387
                c0,0,3.667,21.5-0.833,25c0,0,4.876,3,6.021,7c0,0,8.979-3.833,10.812,3.334c0,0,10.5-15,11.667,2.5c0,0-0.167,7.166,10.667,9v9
                c0,0-12.334,3,0,8.333h7.333c0,0,3.667,6.667,8.167-0.833c0,0,0.166-4.667,3-4.5l8.333-0.5c0,0,4.333,0.053,2.5,3.36
                c0,0-4.333,10.307,5.167,2.307c0,0,4.666-7.001,5.333-13.667c0,0,3.333-11,14.333-1.167c0,0,17.667,26.5,32,2
                c0,0,6.667-18.667,17-22.667c0,0-3.166-11,10.167-12.333l15.5-19c0,0-12.167-5.5,1.667-9c0,0,1.833-4.167-8.5-5.833
                c0,0,6.333-7.167,2.666-8.667c0,0-9.833-3-14.5-9.333c0,0-5.166,5.333-8.666-2c0,0-6.5,5-13.167-2c0,0-4.667-3-6,3.666
                c0,0-7.5,3-7.5,5.5c0,0,2.646,9.663-5.667,9.167c0,0-5.333-3.167-9.333,4.667c0,0-7.667,8.833-11.167-3.667c0,0-15-4.833-8.666-12.5
                c0,0,1.833-2.833-4.5-7.167c0,0-8.667-7.833-8.5,1.167l-22.834,0.667c0,0-9-2.834-13.333-12.667c0,0-10.667-2.333-5.167-8.5
                C347.028,172.028,345.305,167.229,341.531,166.502"/>
              </a>
              <a id="centreValLoire" alt="Musée de centreValLoire">
                <path class="st0" d="M235.717,161.445
                c0,0,14.272-0.751,4.695-13.897c0,0-7.7-7.888,4.508-7.888h11.268c0,0,5.446-0.4,6.385-3.299c0,0,2.117-3.862,1.622,0l0.074,6.32
                c0,0-0.758,1.674,4.689,6.369c0,0-1.437,7.712,10.141,12.395c0,0,3.568,3.192,0,9.202c0,0,29.298-11.831,18.593,9.578h23.793
                c0,0,5.327,3.324,3.438,7.888c0,0-6.126,3.38-3.438,8.076c0,0,2.688,2.441-6.516,1.127c0,0-9.015,1.878,2.629,11.08
                c0,0,4.133,2.817-2.815,5.446c0,0,5.82,5.634,2.815,7.325c0,0-5.445,3.635,2.63,10.925c0,0,3.757,18.56-1.689,24.006
                c0,0-4.132,7.325-12.021,3.005l-3.943,3.756c0,0-0.375,1.503,0.376,3.38c0,0,3.567,7.888-6.386,6.01c0,0-9.015-1.878-10.893,5.259
                h-4.131c0,0-4.132,3.38-7.7-1.315l-9.767,0.939l-9.015-0.187c0,0-7.512,8.552-8.263,1.74c0,0-7.888,0.513-6.761-5.121l-7.889-8.827
                c0,0-2.789-2.538,0-6.77l-7.787-10.152c0,0,0.847-11.422-10.999-5.923c0,0-9.451,2.962-7.264-5.499l-9.657-8.037
                c0,0,0-10.576,5.499-13.537c0,0,2.962-19.037,10.153-9.307c0,0,9.307-4.231,10.576-7.192c0,0,12.69-10.575,11.422-16.498
                c0,0-5.808-9.461,0.961-9.461C235.053,172.362,239.458,166.872,235.717,161.445"/>
              </a>
              <a id="bretagne" alt="Musée de bretagne">
                <path class="st0" d="M155.945,148.695l-7-2.75
                c0,0-15,8.25-14.5-8c0,0-9.75,2.75-8.75-5.5c0,0-5.75-4.417-13.25,3.917c0,0-5.25,3.494-5.25-5.086c0,0-7.75,0.169-12.25,6.919
                c0,0-3.75,8.15-7.25-3.55c0,0-11.5-33.2-31-8.45c0,0-1.25,2.25-3.25-1c0,0-6.75-7.5-7,1.25c0,0-2.5,5.25-5.5-5.5
                c0,0-25,0.5-30.75,6.5c0,0-9.5,7.75,2,10.75c0,0,21.25-3.25,18.5,10.5c0,0-8.5-8.25-17.5-5.75c0,0,10.75,2.5,10.75,5.75
                c0,0,4.5,7.25-7.25,6l-10.187,1.25c0,0,15.687,4.5,12.687,15.75c0,0,38.25-3.75,50.75,19.5c0,0,15-6,30.5,9c0,0,7.75,3,9-8
                c0,0,1.5-7.25,16.5-2.25l10-7c0,0,2.5-2.5,5.75,0.25l3.75,4c0,0,8.25-6.25,9-12.75c0,0,2-10.25-1-14.5l2.5-3c0,0,1.5-2.75,0-3.5
                C155.945,153.445,154.528,151.362,155.945,148.695"/>
              </a>
              <a id="paysLoire" alt="Musée de paysLoire">
                <path class="st0" d="M158.195,148.695
                c0,0,20,6.75,32.25,1.25c0,0,4.25,13,20.25,7.75c0,0,13.75,13.75,17,13.75c0,0-1.5,4.75,2.75,11.25c0,0-9,17.25-18.5,19.25
                c0,0-9.25-7.75-13.5,10.75c0,0-6.75,9-5.75,16c0,0-5,5-19.5,1.75c0,0-5.25-2.75-5.25,4.5l-13,1.25c0,0,1.75,7.5,6.75,9.75
                c0,0-0.75,9.5,3,13c0,0,5.25,4.5-2,7.25c0,0-1.75,5,3.75,6c0,0-9,9.5-15.25-3c0,0-8.25,9-24.75-0.75c0,0-12.5-3-11.75-14
                c0,0-5.5-14.5-11.5-14.75l6.75-7.602c0,0,4.5-3.398-0.75-6.398c0,0-8-10.75,1.5-10.5c0,0,0.25-2.794-4.5-3.022
                c0,0-11.25,6.022-13.25-1.228c0,0-3-7.5,7.5-8c0,0,10.75,0.25,11.75-9.5c0,0,0-6.5,13.5-0.25l10.5-7.25c0,0,2.75-6,8.75,4.5
                c0,0,16.333-6.75,11.667-30c0,0,3.833-3.25,1.583-7.5C158.195,152.945,155.964,150.382,158.195,148.695"/>
              </a>
              <a id="nouvelleAquitaine" alt="Musée de nouvelleAquitaine">
                <path class="st0" d="M194.695,230.945
                c0,0-7.5,5.5-19.5,2.25c0,0-5.5-3.75-3.75,3.5l-12.25,1.5c0,0,2,5.75,6.5,6.75c0,0-2.25,8,1.5,11.75c0,0,6.5,8.25-1.25,11.5
                c0,0-0.5,2.75,5,2.5c0,0-9,15.25-20.25,2.25c0,0-4.75,3.413-6.5,2.706c0,0,0.25,5.544-4.75,7.044c0,0,14,9-3.5,26.75
                c0,0,7.5-0.25,1.5,20.25l-9,41.75c0,0,6.5-8.75,8.5-3.25c0,0,4.75,9-6,6.75c0,0-2.75,0.75-2.5,11l-13,45c0,0-7.5,14-18.75,15.5
                c0,0,1.5,6.75,12.5,6.5c0,0,6.5-0.25,2,7c0,0-7.25,11.5,3.75,6.25c0,0,11.5-0.25,15.75,7.75h8.75c0,0-0.25,8.5,7.75,11.5
                c0,0-0.75-2.25,10.25-1.5c0,0-1.25-13.5,11-17.5c0,0,8.5-7,2.75-16.75c0,0,7.5-6-7-11c0,0,5.5-9.75,3.75-16.5l8.75-4.5
                c0,0,1.75,9,5.5,0.75l22-4.25c0,0,6.75,5.75,13.5-2.25c0,0,8.5-9,0-10l1.75-4.25l7.25,1.5l-3-11.25l4.75-0.25c0,0,4,0.25,4-6.75
                c0,0,9.5-1,13.25-10.5c0,0,3-2.25,0-8.5c0,0,2.25-8.25,10.75,0.5c0,0,4.141,8.75,9.195,3l6.806-0.25c0,0,10-10.5,7-16
                c0,0,10.25-3.5,9-9.5h4.25c0,0,7-3.75,1.75-14.5c0,0,7.5-4.5-2.5-8.75c0,0-4.5-2.75,3.5-6.5c0,0,10.399-4.582,1.699-11.541
                c0,0,9.801-2.46-8.699-17.084l-5.75-1.625c0,0-4,2.75-10.5-1.25l-16,0.75c0,0-7.342,9.879-11.75,2.125c0,0-7.5,0.125-7.25-7.375
                c0,0-13.5-12-8.25-16l-7.5-9c0,0,2.5-11.25-8.75-4.5c0,0-11,3.75-9.75-8L194.695,230.945z"/>
              </a>
              <a id="auvergneRhoneAlpes" alt="Musée région auvergneRhoneAlpes">
                <path class="st0" d="M320.235,257.669
                c0,0-2.005,8.325-12.796,3.546l-2.158,2.466c0,0,6.938,13.721-9.25,10.021c0,0-6.629-0.154-7.708,4.934
                c0,0,19.493,12.557,13.292,19.768c0,0,6.133,7.827-3.889,12.605c0,0-8.171,3.546-0.926,5.397c0,0,6.477,4.932,0.771,9.402
                c0,0,4.778,10.945-2.62,15.727h-3.238c0,0-2.158,8.787-9.095,8.324c0,0,3.391,3.392-7.556,16.496c0,0-0.616,5.24,3.236,7.092
                c0,0-2.158,8.939,1.389,11.717l1.232-2.313l5.243-0.154c0,0,1.694,6.013,6.011-0.463c0,0,7.092-14.338,12.643-15.108
                c0,0,5.396,1.233,8.019,16.034c0,0,2.157,5.24,2.928-1.542c0,0,0.617-4.78,2.313-4.78c0,0,0-10.637,5.55-3.545l4.779-4.163
                c0,0,4.625-5.396,6.167,1.851c0,0-1.079,9.25,3.236,5.396c0,0,3.393-7.091,6.476-1.541c0,0,0.617,2.158,4.163,1.387
                c0,0,6.938,2.006,6.012,14.186c0,0,3.547-0.926,3.547,7.861c0,0,4.471,1.232,2.929,9.559c0,0,5.241-2.313,5.551,1.232
                c0,0,7.245-6.013,9.559,0c0,0,0.925,1.695,2.313,0c0,0,0.926-5.396,8.018,1.543c0,0,2.158-5.858,5.704-1.543
                c0,0,2.621,6.014,6.783,2.468c0,0,8.017-5.472,10.021,1.118l10.482,7.822c0,0,5.55,2.775,7.246-2.929c0,0,5.55,4.008,3.699-1.851
                c0,0,4.009-5.857-5.857-8.324c0,0-10.175-5.859,2.158-8.018l2.004-7.709c0,0,1.079-5.551,5.396-2.619c0,0,5.396,0,3.546-3.701
                c0,0-1.851-4.008,2.774-3.854c0,0,4.163,0.618,5.551-3.7c0,0,5.857-5.395,14.028-0.307v-7.555c0,0-7.862-1.695-3.546-7.4
                c0,0,3.236-4.779,8.018,2.93c0,0,3.236,0.31,2.62-3.699c0,0-0.154-3.237,5.55,0.615c0,0,1.696-5.856,9.56-2.773
                c0,0,4.008-5.704,12.024-5.088c0,0-2.774-6.166,1.695-10.483c0,0-9.713-4.47-8.479-14.028c0,0-17.111-7.246,0.927-14.646
                c0,0,4.471-4.934-5.552-11.101c0,0-6.629-8.325-0.308-14.029c0,0-4.009-12.487-14.954-7.092c0,0-15.726,3.546-6.013,8.942
                c0,0-4.625,3.392-5.704,5.396h-6.167l-4.935,2.158c0,0-3.546-2.005,5.552-12.487c0,0,1.276-3.829-2.621-1.542
                c0,0-13.413,24.05-33.454-3.392c0,0-7.709-8.787-11.408,0.309c0,0-2.005,10.946-6.013,14.491c0,0-12.796,11.101-7.862-5.241h-7.555
                c0,0-1.851-1.079-2.313,2.929c0,0-3.7,10.021-11.716,2.621l-5.859,0.154c0,0-15.262-5.55-2.004-11.717l-0.153-5.858
                c0,0-12.796-3.238-10.945-14.029c0,0-0.463-8.788-9.559,3.7c0,0-2.148-9.25-12.405-3.7
                C326.329,265.84,327.172,260.136,320.235,257.669"/>
              </a>
              <a id="occitanie" alt="Musée d'occitanie">
                <path class="st0" d="M272.871,368.109h-5.396
                c0,0-5.771,6.897-12.043-3.767c0,0-5.019-6.021-6.523-1.129c0,0,2.76,8.658-0.754,9.285c0,0-1.505,7.903-13.173,11.04
                c0,0,1.255,7.777-7.526,7.15l3.136,11.291l-9.033-1.254v1.254c0,0,5.646,2.761,0.627,9.033l-3.889,5.019
                c0,0-4.643,6.396-13.926,1.13l-19.32,3.888c0,0-4.642,7.277-8.531,0l-5.144,3.235c0,0-0.627,11.319-3.514,14.204
                c0,0,12.295,4.391,6.399,12.546c0,0,6.047,12.112-3.764,17.814c0,0-11.417,2.886-9.911,16.436c0,0,11.166,5.394,12.169,9.535
                c0,0,9.535-5.521,13.675,1.254c0,0,2.384-4.267,6.273,0h11.291c0,0-4.894-13.173,7.903-7.402c0,0,13.424,3.263,12.797,8.657
                c0,0,13.299-3.513,12.798,7.276c0,0,3.261-5.396,9.91-0.879c0,0,6.649,1.758,3.639,8.028c0,0,10.411,2.888,10.913,8.657l9.284-2.133
                c0,0,2.636-2.384,6.775,0.126l4.139,2.509l3.264,2.007c0,0,6.898,2.634,10.162-2.258c0,0,8.027-7.402,17.563-1.38l3.765-0.251
                c0,0-7.526-4.518-5.395-15.934l0.752-5.27c0,0-7.026-1.757-0.878-8.406l2.634-4.516c0,0-8.153-5.897,1.38-5.772l7.403-7.776
                c0,0,4.014-4.017,11.416-1.883c0,0,14.678-14.303,25.593-15.682c0,0,4.518-1.255,5.396,5.521l10.037-6.147
                c0,0,0.251-8.03,8.404-8.155c0,0,2.807-3.889,1.78-7.274l9.135-9.159l-6.021-6.436c0,0,2.009-7.49-7.4-12.259
                c0,0-1.38-0.628-1.38,1.505c0,0-3.013,3.139-5.646-0.877c0,0-1.381-4.392-8.78,2.133c0,0,0.627-5.896-6.65-1.129
                c0,0,3.137-7.777-2.634-10.914c0,0,1.255-7.151-3.765-7.402c0,0,2.51-10.664-4.392-14.178c0,0-4.642,0.629-5.521-2.885
                c0,0-0.753-1.884-2.76,1.254c0,0-6.523,9.157-7.025-5.395c0,0-0.125-4.391-3.514-0.376l-5.52,4.767l-2.008-2.384
                c0,0-1.883-1.003-1.632,1.254v3.263c0,0-2.258,0.879-2.886,5.771c0,0-2.008,7.902-6.397-0.126c0,0-1.882-9.159-3.89-11.416
                c0,0-1.729-4.894-5.13-0.377c0,0-5.407,6.272-7.918,12.421c0,0-5.395,6.773-8.906,0.501h-2.762l-2.008,3.515
                c0,0-6.271-2.386-3.638-13.426C276.384,375.385,272.62,372.625,272.871,368.109"/>
              </a>
              <a id="paca" alt="Musée de paca">
                <path class="st0" d="M478.891,368.604
                c0,0-4.442-0.387-5.199-4.059l-2.363-1.643c0,0-2.268-1.448-1.795,1.16c0,0-0.567,4.732-5.104,3.381c0,0-2.932-6.86-6.145-3.381
                c0,0-2.836,3.863,4.252,5.121l0.096,11.305c0,0-9.925-6.377-13.987-0.87c0,0-1.796,4.831-6.333,4.155c0,0-3.688-0.099-1.985,2.316
                c0,0,1.985,6.766-5.766,5.991c0,0-3.309-4.349-5.198,9.663c0,0-9.775,2.027-1.93,5.796c0,0,9.396,2.224,5.521,9.759
                c0,0,2.836,6.957-4.631,4.445c0,0-3.97,9.564-19.471-6.184c0,0-1.418-5.604-7.75-1.547c0,0-4.915,5.41-9.264-2.318
                c0,0-1.891-3.284-3.118,1.836c0,0,3.023,3.188,2.646,8.599l6.899,6.861l-10.021,10.434c0,0,1.513,5.896-2.74,8.504
                c0,0-6.899-0.967-6.994,6.475l-9.925,6.957c0,0,5.011,2.802,8.317,0.676l2.458-3.961c0,0,4.158-6.475,7.75,0.771
                c0,0,0.472,2.365-0.851,3.984c0,0,1.513,10.122,8.411,1.716c0,0,3.593-3.284,8.886,0.387c0,0-1.513-3.478-0.853-5.508
                c0,0-0.094-3.382,3.688-1.062l4.158,2.705c0,0,4.254,2.995,0.661,4.153c0,0-1.891,2.812-7.751,2.661c0,0,0.945,4.198,12.004,1.107
                c0,0,3.971-0.87,3.688,1.836c0,0,0.472,4.541-0.473,5.121c0,0,10.111-0.098,10.773,4.153c0,0,5.768-2.607,8.98,2.705
                c0,0,1.323,2.706,0.944,4.252c0,0,2.739-6.377,6.237-4.154c0,0,5.577,4.154,9.452,0.386c0,0,6.238-1.932,6.9,1.354
                c0,0,0.564-3.188,4.063-3.574c3.497-0.387,9.735-2.029,9.735-2.029s5.576-2.416,0-4.444c0,0-5.293,0.678-1.323-2.705
                c0,0,5.765-2.705,5.104-6.765c0,0,10.397,1.354,10.209-7.148c0,0,8.316,0,7.467-6.185l6.995-2.996c0,0,3.117-1.737,3.778-5.313
                c0,0,4.443,2.415,5.671-1.935c0,0,2.555-5.022-1.511-5.022c0,0,9.265-6.128,5.325-14.95c0,0-15.759,3.836-24.389-2.494
                c0,0-6.004-2.876-8.817-12.272c0,0-1.313-1.918,1.313-3.067c0,0,1.688-4.603-2.629-6.329c0,0,4.504-10.74,7.506-11.699
                c0,0,0.938-8.63-6.756-8.63C483.716,377.086,472.373,374.889,478.891,368.604"/>
              </a>
              <a id="guyane" alt="Musée de guyane">
                <path class="st0" d="M18.457,553.645
                c0,0,1.065,5.152-4.443,8.529c-5.51,3.377-10.308,11.555-5.51,19.906c0,0-2.843,17.771,13.151,24.17c0,0-1.243,8.176-6.22,13.152
                c0,0,5.656,12.797-8.901,20.971c0,0,11.033,12.62,22.23-1.421c0,0,6.398,6.576,13.151,0c0,0,2.844,1.421,1.066,4.265
                c0,0,15.641,1.778,19.194-12.796c0,0,12.086-35.899,21.861-40.166c0,0-3.021-15.104-14.219-15.995c0,0-22.408-11.907-24.533-17.418
                c0,0-20.253-1.955-24.874-6.219L18.457,553.645z"/>
              </a>
              <a id="reunion" alt="Musée de la reunion">
                <path class="st0" d="M117.095,575.504
                c0,0,3.732,9.063-5.154,11.375c0,0-4.731,5.332,2.967,9.952c0,0,4.099,4.442,2.966,9.241c0,0,2.065,8.888,10.773,9.42
                c0,0,24.171,20.083,44.787,4.62v-10.308c0,0,7.82-9.241,0-12.441c0,0-11.019-7.818-11.552-11.906c0,0,1.422-14.04-15.995-12.975
                c0,0-15.996-5.865-20.617,1.601C125.27,574.083,123.493,577.991,117.095,575.504"/>
              </a>
              <a id="martinique" alt="Musée de martinique">
                <path class="st0" d="M235.283,582.613
                c0,0-13.508-12.796-17.417-13.687c0,0-10.843-7.287-17.063,0c0,0-5.509,5.866,2.312,11.021l2.487,1.775
                c0,0-4.621,8.532,5.154,14.751l8.175,6.755c0,0,5.154,0.712,7.287-1.6l3.732,6.22c0,0,1.243,5.155-4.266,2.489
                c0,0-1.6-3.911-5.153-0.354c0,0-6.933,3.731-1.423,7.817c0,0,3.199,5.155,5.51,2.133c0,0,1.422-1.599,5.51-0.531l13.151,2.486
                c0,0,0.355,7.998,4.977,7.821c0,0,5.509-2.311,5.687-6.043c0,0,2.845-5.332-0.889-10.663c0,0-1.777-20.083-14.751-19.728
                c0,0,0-3.199,5.51-3.199c0,0-7.108-2.133-6.398-4.799c0,0,4.977-5.865,9.775-4.979C247.191,580.302,239.37,576.037,235.283,582.613"
                />
              </a>
              <a id="guadeloupe" alt="Musée de guadeloupe">
                <g class="st0">
                  <path d="M362.49,591.818c0,0-7.735-1.135-11.134-6.416
                  c0,0-1.51-3.021-9.245-2.075c0,0-7.171-0.755-6.793-7.926c0,0,1.132-9.233-6.98-9.712c0,0-2.453-1.609-2.831-2.742
                  c0,0-1.511,4.904-4.718,6.039c0,0-6.982,5.659,2.453,9.812c0,0,1.319,2.265-3.021,6.982c0,0-4.527,8.68-13.209,1.887l-8.113-3.397
                  c0,0-4.149-3.206-7.548,1.698c0,0-4.717,8.305,1.321,15.098c0,0,3.963,11.51,2.453,16.794c0,0,3.963,7.356,7.358,8.489l0.566,3.365
                  c0,0,22.569-4.596,14.34-22.612c0,0-4.905-9.467-0.755-10.771c0,0,2.265-1.237,4.907,1.371c0,0,11.32,5.06,20.566-3.62
                  C342.112,594.082,352.867,589.93,362.49,591.818"/>
                  <path  d="M352.302,620.5c0,0-1.32-0.378-4.151,5.661
                  c0,0-3.585,7.357,2.076,9.057c0,0,10.944,0.88,12.264-5.504C362.49,629.714,359.095,616.726,352.302,620.5"/>
                </g>
              </a>
              <a id="mayotte" alt="Musée de mayotte">
                <path class="st0" d="M400.419,560.872
                c0,0-4.15,7.358-8.304,8.868c0,0-1.51,5.095-3.772,5.473h4.718c0,0-6.604,7.17-0.378,6.98c0,0,5.661,4.529,10.756,3.587
                c0,0-2.265,8.302,1.131,9.057l3.208,7.737c0,0-6.226-0.566-6.604,3.019c0,0,11.698,5.283,12.832,10.944c0,0,5.85,11.133-4.529,7.548
                c0,0-6.605-1.887-6.227-7.925l-7.359,0.564c0,0,2.264,8.303,8.114,8.869c0,0-2.267,6.793-5.097,6.981h6.605
                c0,0,4.717,13.856,14.717,2.683c0,0,5.852,4.11,8.492,1.092c0,0-9.623-5.364-7.737-8.814l13.021-16.281
                c0,0-17.737-6.038,2.265-21.889c0,0,10.378-9.059-7.548-12.831c0,0-11.541-3.397-14.922-0.944
                C413.802,575.59,400.607,573.515,400.419,560.872"/>
              </a>
              <a id="corse" alt="Musée de corse">
                <path class="st0" d="M520.808,515.019
                c0,0,1.697,16.794-2.831,17.736c0,0-6.415-7.735-10.944,1.134c0,0-9.057,1.133-10.755,6.037l-3.586,0.944
                c0,0,0.188,9.246-7.17,11.699c0,0,7.358,2.452,5.661,5.849c0,0-1.698,1.51-4.151,0c0,0-1.133,12.644,7.924,11.889
                c0,0-5.66,7.926-7.547,7.926c0,0,5.283,2.075,7.547,0c0,0,3.964-2.452,2.454,4.149c0,0-0.943,5.851-4.151,6.229
                c0,0,6.794,5.095,10.944,3.771c0,0-10.378,5.529-3.208,7.86c0,0,3.396,4.594,10.944,3.839c0,0,0.188,6.982,5.661,5.285
                c0,0,0.941-12.078,6.793-16.984v-16.604c0,0,7.926-2.831,6.416-15.853c0,0,1.319-13.209-6.038-26.039c0,0,3.585-5.661,0.188-18.87
                C524.957,515.019,522.317,510.112,520.808,515.019"/>
              </a>
              </svg>
      </div>
    </div>
  </div>
  </section>

  <section id="defMuseeFrance">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-12 large-12 text-center" >
          <h3>Qu'est ce que les musées de France ?</h3>
          <p>Les « musées de France » sont des musées agréés par l’État et bénéficiant prioritairement de son aide, selon les termes de la loi du 4 janvier 2002. L’Appellation « Musée de France » peut être accordée aux musées appartenant à l’État, à une autre personne morale de droit public ou à une personne de droit privé à but non lucratif. À ce jour, 1218 musées ont reçu l’appellation « Musée de France ».</p>
        </div>
      </div>
    </div>
  </section>

  <section id="propos" class="grid-container">
    <div class="grid-x">
      <div class="cell small-12 medium-12 large-4 text-center">
        <h3 class="text-center hide-for-large">A propos</h3>
        <img src="./views/images/logoMusee.svg" alt="logoMusee">
      </div>
      <div class="cell small-12 medium-12 large-8 text-justify">
        <h3 class="text-center hide-for-small-only hide-for-medium-only">A propos</h3>
        <p>"Développer" qu'ils disaient, "vous verrez du pays !" Nous les avons pris au mot et choisi de travailler sur un site permettant de se balader partour en France. Regroupant les différents joyaux dont notre pays regorge. Voila comment est né le projet Hexa-Musée.</p>
        <p>Notre équipe ? Une équipe jeune et dynamique de développeurs en herbe, en formation à l' <a href="http://www.accesscodeschool.fr/?gclid=EAIaIQobChMIl6L196nV2wIVAhIbCh2CpAQBEAAYASAAEgIZMvD_BwE" target="_blank">Access Code School</a>. </p>
      </div>
    </div>
  </section>


{% endblock %}
