{% extends "base.html.twig" %}
{% block title %}Musées{% endblock %}


{% block musees %}


<div id="musees">
  <section class="grid-container fluid">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <button class="hvr-shutter-out-vertical" type="button" name="button" onclick="history.go(-1)"  style="margin-top: 0px;">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve" width="15px" height="13px">
          <g>
            <g>
              <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
              C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
              c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
              l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"/>
            </g>
          </g>
        </svg>
        Retour</button>

      <div class="cell small-12 medium-12 large-12 text-center">
        <h1 class="mus">Musées de {{ reg }}</h1>
        <p class="legende"> Voici la liste des musées ayant le label Musées De France dans la région {{ reg }}.</p>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      {% for musee in musees %}
      <div class="cell small-12 medium-6 large-3">
        <div class="image-hover-wrapper">
          <span class="image-hover-wrapper-banner">{{ musee.nom_du_musee }}</span>
          <a href="http://localhost:8888/hexa-musee/description/{{musee.id}}" alt="informations musée"><img src="http://localhost:8888/hexa-musee/{{musee.image}}">
            <span class="image-hover-wrapper-reveal">
              <p>Plus d'information<br><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve" width="40px" height="40px">
                <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059  C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z" fill="#FFFFFF"/>
                <g>
                </svg></p>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

<ul class="pagination text-center" role="navigation" aria-label="Pagination">
      {% if current_page != 0 %}
        <li class="pagination-previous"><a href="{{precedent}}" aria-label="Previous page">Précédent</a></li>
      {% endif %}

    {% for i in range(0, nb_pages) %}
      {% if i == current_page %}
        <li class="current"><span class="show-for-sr">You're on page</span>{{i + 1}}</li>
      {% else %}
        <li><a href="http://localhost:8888/hexa-musee/region/{{reg2}}/{{i + 1}}">{{i + 1}}</a></li>
      {% endif %}
    {% endfor %}
      {% if current_page != nb_pages %}

       <li class="pagination-next"><a href="{{suivant}}" aria-label="Next page">Suivant</a></li>
      {% endif %}
</ul>
</div>

{% endblock %}
