{% extends "base.html.twig" %}
{% block title %}Musées{% endblock %}


{% block musees %}


<div id="musees">
  <section class="grid-container fluid">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <form>
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="20px" height="20px" viewBox="0 0 292.359 292.359" style="enable-background:new 0 0 292.359 292.359;"
          xml:space="preserve" fill="#234a56">
          <g>
            <path d="M222.979,5.424C219.364,1.807,215.08,0,210.132,0c-4.949,0-9.233,1.807-12.848,5.424L69.378,133.331
            c-3.615,3.617-5.424,7.898-5.424,12.847c0,4.949,1.809,9.233,5.424,12.847l127.906,127.907c3.614,3.617,7.898,5.428,12.848,5.428
            c4.948,0,9.232-1.811,12.847-5.428c3.617-3.614,5.427-7.898,5.427-12.847V18.271C228.405,13.322,226.596,9.042,222.979,5.424z"/>
          </g>
        </svg>
        <input class="retour" type="button" value="Retour" onclick="history.go(-1)">
      </form>

      <div class="cell small-12 medium-12 large-12 text-center">
        <h1 class="mus"> {{ word }}</h1>
        <p class="legende"> Voici la liste des musées répondant à votre recherche {{ word }}.</p>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      {% for musee in musees %}
      <div class="cell small-12 medium-6 large-3">
        <div class="image-hover-wrapper">
          <span class="image-hover-wrapper-banner">{{ musee.nom_du_musee }}</span>
          <a href="http://localhost:8888/hexa-musee/description/{{musee.id}}"><img src="{{ musee.lien_image}}">
            <span class="image-hover-wrapper-reveal">
              <p>Check it<br><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve" width="40px" height="40px">
                <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059  C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z" fill="#FFFFFF"/>
                <g>
                </svg></p>
              </span>
            </a>
          </div>
        </div>

        {% endfor %}

      </div>

    </div>

  </section>



<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous"><a href="{{precedent}}" aria-label="Previous page">Previous</a></li>
    {% for i in range(0, nb_pages) %}
      {% if i == current_page %}
        <li class="current"><span class="show-for-sr">You're on page</span>{{i}}</li>
      {% else %}
        <li><a href="http://localhost:8888/hexa-musee/region/{{reg2}}/{{i}}">{{i}}</a></li>
      {% endif %}
    {% endfor %}
  <li class="pagination-next"><a href="{{suivant}}" aria-label="Next page">Next</a></li>
</ul>

</div>

{% endblock %}
