//telephone
@media screen and (max-width: 39.9375em) {
  body{
    p{
      font-size: 1.7em;
    }

    h2{
      font-size: 2em;
    }
  }
  header .topbar-responsive #logo{
    width: 15%;
  }
  .legende{
    padding-bottom: 40px;
  }

  #map_mob{
    width: 100%;
    height: 500px;
  }

  #defMuseeFrance{
    padding: 50px 0;
    p{
      margin: 30px;
    }
  }

  #propos{
    padding: 50px 0;
    h3{
      margin-bottom: 10px;
    }
    img{
      width: 60%;
      margin-bottom: 40px;
    }
    p{
      margin: 30px;
    }
  }

  #musees .image-hover-wrapper .image-hover-wrapper-banner{
    font-size: 1.4em;
    top: 50%;
  }

  #infoMusee{
    .fond{
      top: 43vh;
    }
    #info{
      margin-top: 60px;

      p{
        padding: 0 30px;
      }
    }
  }

  footer{
    ul{
      display: block;
      font-size: 1.7em;
      width: 100%;
    }
  }
}

// tablette
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body{
    p{
      font-size: 2.4em;
    }

    h2, h3, h1{
      font-size: 3em;
    }
  }
  .hvr-shutter-out-vertical{
    font-size: 2.4em;
  }

  .pagination li{
    font-size: 1.9em;
  }
  header{
    .topbar-responsive{
      height: 110px;

      #logo{
        width: 16%;
        top: 0;
      }
    }
  }
  #musees .image-hover-wrapper .image-hover-wrapper-banner{
    font-size: 1.5em;
    top: 40%;
  }

  #defMuseeFrance, #propos{
    p{
      padding: 0 40px;
    }
  }

  #propos{
    h3{
      margin-bottom: 20px;
    }
    img{
      width: 60%;
      margin-bottom: 40px;
    }
  }

  #infoMusee{
    .fond{
      top: 60.7vh;
      height: 160px;
    }
    #info{
      margin-top: 120px;

      p{
        padding: 0 30px;
      }
    }
  }

  footer{
    ul{
      display: block;
      font-size: 2.4em;
      width: 100%;
    }
  }

}
