@import "variables.scss";

.hidden{
  display: none;
}

.legende{
  padding-bottom: $padding60;
}

//general
body{
  font-family: 'RalewayM';
  color: $bleuFonce;
}

h1, h3{
  font-family: 'MavenB';
  font-size: 2.5em;
  font-variant: small-caps;
}

span{
  border-bottom: 4px solid $brun;
}

//Header et navbar
header{
  position: fixed;
  width: 100%;
  z-index: 6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: $brun;
  .topbar-responsive {
    background: $brun;
    padding: 1rem 1.5rem;
    height: 65px;

  #logo{
      position: absolute;
      top: -15px;
      width: 4.5%;
    }
  }
}

/* Slider */
#slider{
  padding-top: 65px;
  width: 100%;
  height:100vh;
  position:relative;
  overflow:hidden;

  img{
    width:100%;
    height:100%;
  }

  .slides{
    width:400%;
    height:100%;
    position:relative;
    -webkit-animation:slide 30s infinite;
    -moz-animation:slide 30s infinite;
    animation:slide 30s infinite;
  }

  .slider{
    width:25%;
    height:100%;
    float:left;
    position:relative;
    z-index:1;
    overflow:hidden;
    margin-top: 0px;
  }

  .switch{
    width:120px;
    height:10px;
    position:absolute;
    bottom:50px;
    z-index:1;
    left:30px;

    ul{
      list-style:none;
      overflow:hidden;

      li{
        width:10px;
        height:10px;
        border-radius:50%;
        background:#333;
        float:left;
        margin-right:5px;
      }
    }

    .on{
      width:100%;
      height:100%;
      border-radius:50%;
      background:$brun;
      position:relative;
      -webkit-animation:on 30s infinite;
      -moz-animation:on 30s infinite;
      animation:on 30s infinite;
    }
  }

  .legend{
    border:500px solid transparent;
    border-left:800px solid rgba(119, 109, 107, 0.7);
    border-bottom:0;
    position:absolute;
    bottom:0;
  }

  .content{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;

    .content-txt{
      width:400px;
      height:150px;
      float:left;
      position:relative;
      top:300px;
      -webkit-animation:content-s 7.5s infinite;
      -moz-animation:content-s 7.5s infinite;
      animation:content-s 7.5s infinite;

        h1{
          font-family: 'MavenB';
          text-transform:uppercase;
          font-size:24px;
          color: $b;
          margin-left:30px;
          padding-bottom:10px;
        }

        h2{
          font-size:16px;
          color:$b;
          margin-left:30px;
        }
    }
  }
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}

/* Animation SLider */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}
@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}
@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

/* carte */
#carte{
  padding-top: 100px;
  padding-bottom: 100px;
}

#map {
  #map-list{
    ul{
      list-style-type: none;
      margin-top: 40px;

      li{
        margin-bottom: 0.4em;
        a{
          color: $beige;
        }
      }
    }
  }
  .is-active{
  color: $brun !important;
  font-family: 'MavenB';
  }

  .is-active path{
    fill: $brun;
  }

  #map_des{
    width: 85%;
  }
}

// Definition
#defMuseeFrance{
  padding: 100px 0;
  background-image: url('http://localhost:8888/hexa-musee/views/images/kaiyu-wang.png');
  background-attachment: fixed;
  background-size: cover;
  color: $b;

  h3{
    margin-bottom: 50px;
  }
}

//footer
footer{
  background-color:$beige;
  padding-top: 40px;
  color: $b;
  font-size: 0.8em;

  ul{
    margin: auto;
    padding-bottom: 30px;
    width: 56%;
    list-style-type: none;
    display: flex;
    li{
      margin: 0 30px;
      font-weight: 600;

      a{
        color: $b;
        &:hover{
          color: $brun;
        }
      }
    }
  }

  p{
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
}

// list
.mus{
  margin: 20px;
}

#musees{
  padding-top:  100px;
  padding-bottom: 100px;

  ul{
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .pagination .current{
    background-color: $brun;
  }

  .image-hover-wrapper {
    position: relative;
    margin-top: 20px;

    a {
      display: inline-block;
      letter-spacing: normal;
      line-height: initial;
      margin: 0;
      padding: 0;
      position: relative;

      img {
        float: left;
        overflow: hidden;
        width: 400px;
        height: 200px;
      }

      .image-hover-wrapper-reveal {
        background-color: $brunTranspa;
        color: $b;
        display: inline;
        height: 100%;
        margin-left: -100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
        transition: $image-hover-wrapper-transition;
        transition-delay: $image-hover-wrapper-transition-delay;

        &:hover {
          opacity: 1;
          transition: $image-hover-wrapper-transition;
        }

        &:hover p {
          opacity: 1;
          transform: translateY(-60%);
          transition: $image-hover-wrapper-transition;
          transition-delay: $image-hover-wrapper-transition-delay;
        }

        p {
          bottom: 0;
          display: block;
          opacity: 0;
          position: absolute;
          text-align: center;
          width: 100%;
          transition: $image-hover-wrapper-transition;
          font-weight: 600;
        }
      }
    }

    .image-hover-wrapper-banner {
      background-color: $image-hover-wrapper-banner-bg;
      color: $b;
      font-weight: 600;
      left: 0;
      padding: 0.5rem;
      position: absolute;
      top: 60%;
      width: $image-hover-wrapper-banner-width;
      z-index: 1;
    }
  }

}


//infoMusee
#infoMusee{
  margin-bottom: 20px;

  .fond{
    position: absolute;
    width: 100%;
    top: 45vh;
    background-color: $brunTranspa;
    height: 100px;

    h1{
      color: $b;
      margin-top: 20px;
      text-shadow: $brun 1px 0 10px;
    }
  }

  #info{
    h2{
      font-variant: small-caps;
      margin-bottom: 60px;
    }

    p{
      margin-top: 50px;
      margin-bottom: 80px;

      a{
        color: $bleuFonce;

        &:hover{
          color: $beige;
        }
      }
    }
  }
}

//section projet
#propos{
  padding: 100px 0;

  h3{
    margin-bottom: 40px;
  }

  a{
    color: $beige;
    &:hover{
      color: $brun;
    }
  }

  p{
    margin: 10px 50px;
  }
}

//mouse scroll
.mouse_scroll {
  position: absolute;
  top: 85vh;
  left: 50%;
  display: block;
  margin: 0 auto;
  z-index: 5;
}

.m_scroll_arrows
{
  display: block;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 13px;
  height: 13px;
}

.unu
{
  margin-top: 1px;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.unu, .doi, .trei
{
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.mouse
{
  height: 37px;
  width: 22px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel
{
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
//button hover
.hvr-shutter-out-vertical {
  margin-top: 60px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  padding: 10px 20px;
  color: $brun;

  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $brun;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: $image-hover-wrapper-transition-delay;
    transition-duration: $image-hover-wrapper-transition-delay;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover, &:focus, &:active{
    cursor: pointer;
    color: white;

    svg{
      fill: $b;
    }
  }

  svg{
    fill: $brun;
  }

  &:hover:before, &:focus:before, &:active:before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

//page contact
#contact{
  padding-top: 65px;

  .con{
    background-image: url('http://localhost:8888/hexa-musee/views/images_musees/56.png');
    background-size: cover;
    height: 100vh;

    .legendeContact{
      background-color: rgba(255, 255, 255, 0.8);
      padding: 40px;
      margin: 70px;

      h1{
        margin-bottom: 30px;
      }
    }
  }

  #formuContact{
    padding: 50px 60px;

    [type=text], textarea{
      border: none;
      box-shadow: none;
      border-bottom: 3px solid $brunTranspa;

      &:invalid{
        border-bottom: 3px solid red;
      }
    }

    svg{
      width: 10%;
      margin-bottom: 50px;
    }
    .hvr-shutter-out-vertical{
      margin-top: 20px;
    }
    textarea{
      height: 150px;
      resize: none;
    }
  }
}



//Mentions Légales
#mentionsL{
  padding: 100px 0;
}

//bar recherche
.contain {
  position: absolute;
  left: 85%;
  top: 15px;
  transform: translate(-50%);
  display: flex;

  button{
    background-color: #fff;
    border-radius: 30px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    font-size: 0.8em;
  }
}

.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  color: transparent;
  font-size: .75rem;
  line-height: 25px;
}
.search-box input[type="text"]:hover {
  cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
  cursor: text;
}
.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type="text"]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white;
}
.search-box input[type="text"]:focus + span {
  width: 200px;
}
.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in;
}
.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type="text"] + span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px);
}


//importation
@import "mediaQueries"
