@font-face {
  font-family: 'RalewayM';
  src: url("../fonts/Raleway-Medium.ttf"); }
@font-face {
  font-family: 'RalewayEB';
  src: url("../fonts/Raleway-ExtraBold.ttf"); }
@font-face {
  font-family: 'RalewaySB';
  src: url("../fonts/Raleway-SemiBold.ttf"); }
@font-face {
  font-family: 'MavenB';
  src: url("../fonts/MavenPro-Bold.ttf"); }
.hidden {
  display: none; }

.legende {
  padding-bottom: 60px; }

body {
  font-family: 'RalewayM';
  color: #353d47; }

h1, h3 {
  font-family: 'MavenB';
  font-size: 2.5em;
  font-variant: small-caps; }

span {
  border-bottom: 4px solid #786354; }

header {
  position: fixed;
  width: 100%;
  z-index: 6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #786354; }
  header .topbar-responsive {
    background: #786354;
    padding: 1rem 1.5rem;
    height: 65px; }
    header .topbar-responsive #logo {
      position: absolute;
      top: -15px;
      width: 4.5%; }

/* Slider */
#slider {
  padding-top: 65px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #slider img {
    width: 100%;
    height: 100%; }
  #slider .slides {
    width: 400%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    animation: slide 30s infinite; }
  #slider .slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 0px; }
  #slider .switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    left: 30px; }
    #slider .switch ul {
      list-style: none;
      overflow: hidden; }
      #slider .switch ul li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #333;
        float: left;
        margin-right: 5px; }
    #slider .switch .on {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #786354;
      position: relative;
      -webkit-animation: on 30s infinite;
      -moz-animation: on 30s infinite;
      animation: on 30s infinite; }
  #slider .legend {
    border: 500px solid transparent;
    border-left: 800px solid rgba(119, 109, 107, 0.7);
    border-bottom: 0;
    position: absolute;
    bottom: 0; }
  #slider .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; }
    #slider .content .content-txt {
      width: 400px;
      height: 150px;
      float: left;
      position: relative;
      top: 300px;
      -webkit-animation: content-s 7.5s infinite;
      -moz-animation: content-s 7.5s infinite;
      animation: content-s 7.5s infinite; }
      #slider .content .content-txt h1 {
        font-family: 'MavenB';
        text-transform: uppercase;
        font-size: 24px;
        color: #fff;
        margin-left: 30px;
        padding-bottom: 10px; }
      #slider .content .content-txt h2 {
        font-size: 16px;
        color: #fff;
        margin-left: 30px; }

@keyframes load {
  from {
    left: -100%; }
  to {
    left: 0; } }
/* Animation SLider */
@-webkit-keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@-moz-keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@keyframes slide {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }
@-webkit-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@-moz-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 20px; }
  15% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }
@-webkit-keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
@-moz-keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
@keyframes on {
  0%,100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }
/* carte */
#carte {
  padding-top: 100px;
  padding-bottom: 100px; }

#map #map-list ul {
  list-style-type: none;
  margin-top: 40px; }
  #map #map-list ul li {
    margin-bottom: 0.4em; }
    #map #map-list ul li a {
      color: #A9A29C; }
#map .is-active {
  color: #786354 !important;
  font-family: 'MavenB'; }
#map .is-active path {
  fill: #786354; }
#map #map_des {
  width: 85%; }

#defMuseeFrance {
  padding: 100px 0;
  background-image: url("http://localhost:8888/hexa-musee/views/images/kaiyu-wang.png");
  background-attachment: fixed;
  background-size: cover;
  color: #fff; }
  #defMuseeFrance h3 {
    margin-bottom: 50px; }

footer {
  background-color: #A9A29C;
  padding-top: 40px;
  color: #fff;
  font-size: 0.8em; }
  footer ul {
    margin: auto;
    padding-bottom: 30px;
    width: 56%;
    list-style-type: none;
    display: flex; }
    footer ul li {
      margin: 0 30px;
      font-weight: 600; }
      footer ul li a {
        color: #fff; }
        footer ul li a:hover {
          color: #786354; }
  footer p {
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.6); }

.mus {
  margin: 20px; }

#musees {
  padding-top: 100px;
  padding-bottom: 100px; }
  #musees ul {
    margin-top: 40px;
    margin-bottom: 0px; }
  #musees .pagination .current {
    background-color: #786354; }
  #musees .image-hover-wrapper {
    position: relative;
    margin-top: 20px; }
    #musees .image-hover-wrapper a {
      display: inline-block;
      letter-spacing: normal;
      line-height: initial;
      margin: 0;
      padding: 0;
      position: relative; }
      #musees .image-hover-wrapper a img {
        float: left;
        overflow: hidden;
        width: 400px;
        height: 200px; }
      #musees .image-hover-wrapper a .image-hover-wrapper-reveal {
        background-color: rgba(120, 99, 84, 0.6);
        color: #fff;
        display: inline;
        height: 100%;
        margin-left: -100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition-delay: 0.25s; }
        #musees .image-hover-wrapper a .image-hover-wrapper-reveal:hover {
          opacity: 1;
          transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        #musees .image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
          opacity: 1;
          transform: translateY(-60%);
          transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-delay: 0.25s; }
        #musees .image-hover-wrapper a .image-hover-wrapper-reveal p {
          bottom: 0;
          display: block;
          opacity: 0;
          position: absolute;
          text-align: center;
          width: 100%;
          transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          font-weight: 600; }
    #musees .image-hover-wrapper .image-hover-wrapper-banner {
      background-color: rgba(120, 99, 84, 0.9);
      color: #fff;
      font-weight: 600;
      left: 0;
      padding: 0.5rem;
      position: absolute;
      top: 60%;
      width: 90%;
      z-index: 1; }

#infoMusee {
  margin-bottom: 20px; }
  #infoMusee .fond {
    position: absolute;
    width: 100%;
    top: 45vh;
    background-color: rgba(120, 99, 84, 0.6);
    height: 100px; }
    #infoMusee .fond h1 {
      color: #fff;
      margin-top: 20px;
      text-shadow: #786354 1px 0 10px; }
  #infoMusee #info h2 {
    font-variant: small-caps;
    margin-bottom: 60px; }
  #infoMusee #info p {
    margin-top: 50px;
    margin-bottom: 80px; }
    #infoMusee #info p a {
      color: #353d47; }
      #infoMusee #info p a:hover {
        color: #A9A29C; }

#propos {
  padding: 100px 0; }
  #propos h3 {
    margin-bottom: 40px; }
  #propos a {
    color: #A9A29C; }
    #propos a:hover {
      color: #786354; }
  #propos p {
    margin: 10px 50px; }

.mouse_scroll {
  position: absolute;
  top: 85vh;
  left: 50%;
  display: block;
  margin: 0 auto;
  z-index: 5; }

.m_scroll_arrows {
  display: block;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 13px;
  height: 13px; }

.unu {
  margin-top: 1px;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate; }

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite; }

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px; }

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px; }

.mouse {
  height: 37px;
  width: 22px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px; }

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite; }

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
.hvr-shutter-out-vertical {
  margin-top: 60px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  padding: 10px 20px;
  color: #786354; }
  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #786354;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    cursor: pointer;
    color: white; }
    .hvr-shutter-out-vertical:hover svg, .hvr-shutter-out-vertical:focus svg, .hvr-shutter-out-vertical:active svg {
      fill: #fff; }
  .hvr-shutter-out-vertical svg {
    fill: #786354; }
  .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }

#contact {
  padding-top: 65px; }
  #contact .con {
    background-image: url("http://localhost:8888/hexa-musee/views/images_musees/56.png");
    background-size: cover;
    height: 100vh; }
    #contact .con .legendeContact {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 40px;
      margin: 70px; }
      #contact .con .legendeContact h1 {
        margin-bottom: 30px; }
  #contact #formuContact {
    padding: 50px 60px; }
    #contact #formuContact [type=text], #contact #formuContact textarea {
      border: none;
      box-shadow: none;
      border-bottom: 3px solid rgba(120, 99, 84, 0.6); }
      #contact #formuContact [type=text]:invalid, #contact #formuContact textarea:invalid {
        border-bottom: 3px solid red; }
    #contact #formuContact svg {
      width: 10%;
      margin-bottom: 50px; }
    #contact #formuContact .hvr-shutter-out-vertical {
      margin-top: 20px; }
    #contact #formuContact textarea {
      height: 150px;
      resize: none; }

#mentionsL {
  padding: 100px 0; }

.contain {
  position: absolute;
  left: 85%;
  top: 15px;
  transform: translate(-50%);
  display: flex; }
  .contain button {
    background-color: #fff;
    border-radius: 30px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    font-size: 0.8em; }

.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  color: transparent;
  font-size: .75rem;
  line-height: 25px; }

.search-box input[type="text"]:hover {
  cursor: pointer; }

.search-box input[type="text"]:hover:focus {
  cursor: text; }

.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2); }

.search-box input[type="text"]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white; }

.search-box input[type="text"]:focus + span {
  width: 200px; }

.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in; }

.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0; }

.search-box input[type="text"] + span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px); }

@media screen and (max-width: 39.9375em) {
  body p {
    font-size: 1.7em; }
  body h2 {
    font-size: 2em; }

  header .topbar-responsive #logo {
    width: 15%; }

  .legende {
    padding-bottom: 40px; }

  #map_mob {
    width: 100%;
    height: 500px; }

  #defMuseeFrance {
    padding: 50px 0; }
    #defMuseeFrance p {
      margin: 30px; }

  #propos {
    padding: 50px 0; }
    #propos h3 {
      margin-bottom: 10px; }
    #propos img {
      width: 60%;
      margin-bottom: 40px; }
    #propos p {
      margin: 30px; }

  #musees .image-hover-wrapper .image-hover-wrapper-banner {
    font-size: 1.4em;
    top: 50%; }

  #infoMusee .fond {
    top: 43vh; }
  #infoMusee #info {
    margin-top: 60px; }
    #infoMusee #info p {
      padding: 0 30px; }

  footer ul {
    display: block;
    font-size: 1.7em;
    width: 100%; } }
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body p {
    font-size: 2.4em; }
  body h2, body h3, body h1 {
    font-size: 3em; }

  .hvr-shutter-out-vertical {
    font-size: 2.4em; }

  .pagination li {
    font-size: 1.9em; }

  header .topbar-responsive {
    height: 110px; }
    header .topbar-responsive #logo {
      width: 16%;
      top: 0; }

  #musees .image-hover-wrapper .image-hover-wrapper-banner {
    font-size: 1.5em;
    top: 40%; }

  #defMuseeFrance p, #propos p {
    padding: 0 40px; }

  #propos h3 {
    margin-bottom: 20px; }
  #propos img {
    width: 60%;
    margin-bottom: 40px; }

  #infoMusee .fond {
    top: 60.7vh;
    height: 160px; }
  #infoMusee #info {
    margin-top: 120px; }
    #infoMusee #info p {
      padding: 0 30px; }

  footer ul {
    display: block;
    font-size: 2.4em;
    width: 100%; } }

/*# sourceMappingURL=museeStyle.css.map */
