//polices
@font-face {
    font-family: 'RalewayM';
    src: url('../fonts/Raleway-Medium.ttf');
  }

  @font-face {
    font-family: 'RalewayEB';
    src: url('../fonts/Raleway-ExtraBold.ttf');
  }

  @font-face {
    font-family: 'RalewaySB';
    src: url('../fonts/Raleway-SemiBold.ttf');
  }

  @font-face {
    font-family: 'MavenB';
    src: url('../fonts/MavenPro-Bold.ttf');
  }

//Variables
$bleuFonce: #353d47;
$beige: #A9A29C;
$brun: #786354;
$brunTranspa: rgba(120, 99, 84, 0.6);
$b: #fff;

$padding60: 60px;

$topbar-responsive-animation-type: fade-in;

$image-hover-wrapper-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
$image-hover-wrapper-transition-delay: 0.25s;
$image-hover-wrapper-banner-width: 90%;
$image-hover-wrapper-banner-topspace: 25%;
$image-hover-wrapper-banner-bg: rgba(120, 99, 84, 0.9);
